<footer>
    <div class="footer-nav">
        <div class="left-footer-nav">
            <nav>
                <a href="../../index.html">Home</a>
                <a href="./about.html">Over Ons</a>
                <a href="./auth/login.html" class="footer-login">Log in</a>
                <a href="./faq.html">FAQ</a>
            </nav>
        </div>
        <div class="right-footer-nav">
            <nav>
                <a href="https://www.youtube.com/user/corendon"><img src="../svg/Youtube.svg" alt="" /></a>
                <a href="https://twitter.com/corendon"><img src="../svg/twitter-black.svg" alt="" /></a>
                <a href="https://vimeo.com/corendonairlines"><img src="../svg/vimeo-black.svg" alt="" /></a>
                <a href="https://www.facebook.com/Corendon.nl/"><img src="../svg/facebook-black.svg" alt="" /></a>
            </nav>
        </div>
    </div>
    <div class="gray-footer-line"></div>
    <div class="footer-text-box">
        <div class="footer-copyright">
            <span>© 2021 Team Quatro. All rights reserved.</span>
        </div>
        <div class="footer-privacy-nav">
            <nav>
                <a href="../pdf/AV_Corendon_NL_20200108.pdf">Terms of service </a>
                <a href="../pdf/Corendon-Privacy-Verklaring-NL.pdf">Privacy Policy</a>
            </nav>
        </div>
    </div>
    <div class="footer-image">
        <img src="../svg/corendon-logo%203.svg" alt="" />
    </div>
</footer>