<header class="navbar">
    <div class="logo">
        <a href="/index.html">
            <img src="./assets/img/corendon-logo.svg" alt="Logo">
        </a>
    </div>
    <nav class="nav-list" id="nav-list">
        <ul>
            <li><a href="./index.html" class="active">Home</a></li>
            <li><a href="./assets/views/about.html">About</a></li>
            <li><a href="./assets/views/contact.html">Contact</a></li>
            <li><a href="./assets/views/matches.html" class="matches-link">Vind reispartners</a></li>
            <li>
                <div class="lang-changer-input">
                    <select id="langSelecter" onchange="checklang()">
                        <option value="de">Deutsch</option>
                        <option value="en">English</option>
                        <option value="nl" selected>Nederlands</option>
                    </select>
                </div>
            </li>
            <li class="dropdown-box">
                <div class="dropdown">
                    <button class="drop-btn">
                        <i class="fa fa-caret-down"></i>
                        <i class="fa fa-caret-up"></i>
                    </button>
                    <div class="dropdown-content" id="dropdown-content">
                        <a href="./assets/views/auth/login.html" class="inlog-btn">Inloggen</a>
                        <a href="./assets/views/auth/register.html" class="registreer-btn">Registreren</a>
                        <a href="" class="logout-btn">Uitloggen</a>
                    </div>
                </div>
            </li>
        </ul>
    </nav>

    <div class="profile-button">
        <a href="./assets/views/profile.html">
            <img id="header-profile-img" src="./assets/img/default-avatar.png" alt="">

        </a>
    </div>

    <div class="theme-switch-box">
        <div class="switch">
            <div>
                <input type="checkbox" class="checkbox" id="checkbox">
                <label for="checkbox" class="label">
                    <i class="fas fa-sun"></i>
                    <i class="fas fa-moon"></i>
                    <span class="ball"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="burger-menu" id="toggle-btn">
        <div class="menu-line"></div>
        <div class="menu-line"></div>
        <div class="menu-line"></div>
    </div>
</header>