body{
    padding-top: 74px;
    background-color:var(--bg) ;
    color:var(--text1) ;

}
.infobox{
    min-width: 90%;
    max-width: 90%;
    margin: 0 auto 0 auto;
}
.infobox h1{
    padding-top: 50px;
}
.infobox p{
    overflow: hidden;
    flex: 1;
    padding-top: 50px;
}
.flex-info{
    display: flex;
    flex-direction: row;
}
.infobox img{
    flex: 1;
    max-width: 50%;
    max-height: 200px;
}
.gray-line{
    width: 90%;
    margin: 50px auto 50px auto;
    height: 2px;
    background-color: #D9D9D9;
}
.tabs-box{
    max-width: 90%;
    margin: 0 auto 0 auto;
    padding-bottom: 50px;
}
.tab-header{
    background-color: var(--tabs-color);
    color: var(--text1);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-top: 30px;
    font-size: larger;
}
.active, .tab-header:hover {
    background-color: #4C4C4C;
    color: white;
}
.tab{
    padding: 30px 18px;
    background-color: var(--tab-color);
    display: none;
    overflow: hidden;
}

@media only screen and (max-width: 650px) {
    .infobox{
        max-width: 90%;
    }
    .infobox img{
        max-width: 100%;
        max-height: 100%;
    }
    .flex-info{
        flex-direction: column;
    }

}
@media only screen and (min-width: 800px) {
    main{
        max-width: 1400px;
        margin: 0 auto 0 auto;
    }
}