<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../../img/favicon-32x32.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="../../css/navbar.css">
    <link rel="stylesheet" href="../../css/home/home.css">
    <link rel="stylesheet" href="../../css/admin/panel.css">
    <link rel="stylesheet" href="../../css/custom.css">
    <script src="https://cdn.fys.cloud/fyscloud/0.0.4/fyscloud.min.js"></script>
    <script type="module" src="../../js/config.js"></script>

</head>
<body class="light-theme">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<header class="navbar">
    <div class="logo" >
        <a href="">
            <img src="../../img/corendon-logo.svg" alt="Logo">
        </a>
    </div>
    <nav class="nav-list" id="nav-list">
        <ul>
            <li><a href="../../../index.html" class="active">Home</a></li>
            <li><a href="userPanel.html">Gebruikers Overzicht</a></li>
        </ul>
    </nav>
    <div class="theme-switch-box">
        <div class="switch">
            <div>
                <input type="checkbox" class="checkbox" id="checkbox">
                <label for="checkbox" class="label">
                    <i class="fas fa-sun"></i>
                    <i class="fas fa-moon"></i>
                    <span class="ball"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="burger-menu" id="toggle-btn">
        <div class="menu-line"></div>
        <div class="menu-line"></div>
        <div class="menu-line"></div>
    </div>
</header>

<main>
    <div class="mainSection">
        <div class="leftSection">
            <div class="top"></div>

            <div class="items-left">
                <div class="chart-background">
                    <div class="user-count">
                        <img src="../../img/user.png" alt="">
                        <p>Aantal Gebruikers: <span id="total-users">1234</span></p>  <!-- Set users with getTotallUsersAsync()-->
                    </div>
                    <canvas id="chart" style="width:100%;max-width:1000px; height: 300px;"></canvas>
                </div>
            </div>
            <div class="bottom">

            </div>
        </div>
        <div class="rightSection">
            <div class="user-info-card">
                <div class="search">
                    <img src="../../img/search.png" alt="gebruiker foto" onclick="test()">
                    <input type="text">
                    <p>Zoeken: </p>
                </div>
                <div class="info">
                    <div class="image">
                        <div class="circle-1"></div>
                        <div class="circle-2"></div>
                        <img src="../../img/user.png" width="70" height="70" alt="Jessica Potter">
                    </div>
                    <h2 id="name">Jhon Doe</h2>
                    <p id="email">jhon@doe.nl</p>
                </div>
                <div class="app-info">
                    <div class="actief">
                        <h3>Laatst actief</h3>
                        <p id="lastActive">xx-xx-xxxx</p>
                    </div>
                    <div class="matches">
                        <h3>Aantal Matches</h3>
                        <p id="matchAmount">xxx</p>
                    </div>
                    <button>Delete</button>
                </div>
            </div>
        </div>
    </div>

</main>

<footer></footer>

<script src="../../js/menu.js"></script>
<script src="../../js/utils/sqlWrapper.js"></script>
<script src="../../js/admin/panel.js"></script>
<script src="../../js/admin/chart.js"></script>
<script src="../../js/admin/table.js"></script>
<script>
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
</script>
</body>
</html>
