<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../../img/favicon-32x32.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="../../css/navbar.css">
    <link rel="stylesheet" href="../../css/home/home.css">
    <link rel="stylesheet" href="../../css/admin/userPanel.css">
    <link rel="stylesheet" href="../../css/custom.css">
    <!--    <script src="https://cdn.fys.cloud/fyscloud/0.0.4/fyscloud.min.js"></script>-->
    <!--    <script type="module" src="../../js/config.js"></script>-->
</head>
<body class="light-theme">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<header class="navbar">
    <div class="logo">
        <a href="">
            <img src="../../img/corendon-logo.svg" alt="Logo">
        </a>
    </div>
    <nav class="nav-list" id="nav-list">
        <ul>
            <li><a href="../../../index.html" class="active">Home</a></li>
            <li><a href="panel.html">Overzicht paneel</a></li>
        </ul>
    </nav>
    <div class="theme-switch-box">
        <div class="switch">
            <div>
                <input type="checkbox" class="checkbox" id="checkbox">
                <label for="checkbox" class="label">
                    <i class="fas fa-sun"></i>
                    <i class="fas fa-moon"></i>
                    <span class="ball"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="burger-menu" id="toggle-btn">
        <div class="menu-line"></div>
        <div class="menu-line"></div>
        <div class="menu-line"></div>
    </div>
</header>
<main>
    <div class="card">
        <h1>Gebruikers</h1>
<!--        <div class="search">-->
<!--            <img src="../../img/search.png" alt="gebruiker foto" onclick="test()">-->
<!--            <input type="text">-->
<!--            <p>Zoeken: </p>-->
<!--        </div>-->
        <table id="tableArray">
        </table>
        <div class="delete-dialog" id="deleteDialog">
            <i class="fas fa-trash fa-6x"></i>
            <h2>Weet u het zeker?</h2>
            <p>Voer de gebruikers naam in, van de te verwijderen gebruiker.</p>
            <input type="text" id="controlUsername">
            <div class="buttons">
                <button class="cancel-delete" id="closeDeleteDialog" onclick="closeDeleteDialog()">Cancel</button>
                <button class="delete-user" id="deleteUser">Delete</button>
            </div>
        </div>
        <div class="edit-dialog" id="editDialog">
            <div class="left-side">
                <p>Afbeelding: </p>
                <img src="../../img/user.png" id="userImage" alt="">
                <div class="edit-buttons">
                    <button class="cancel-delete" id="closeDeleteDialog" onclick="editUserImage()">
                        <i class="fas fa-images"></i>
                        Wijzig
                    </button>
<!--                    Hacky quick fix for style, need redo from ground... :/ -->
                    <button class="delete-user" style="opacity: 0">
<!--                        <i class="fas fa-trash"></i>-->
<!--                        Verwijder-->
                    </button>
                </div>
                <div class="left-inputs">
                    <p>Voornaam:</p>
                    <input type="text" placeholder="Jhon Doe" id="name">
                </div>
<!--                <div class="left-inputs">-->
<!--                    <p>Achternaam:</p>-->
<!--                    <input type="text" placeholder="Doe">-->
<!--                </div>-->
                <div class="left-inputs">
                    <p>Geboortedatum:</p>
                    <input type="date" id="birthDate" value="">
                </div>
                <div class="left-inputs">
                    <button onclick="closeEditDialog()" id="close-button">Sluiten</button>
                </div>
            </div>
            <div class="right-side">
                <div class="right-inputs">
                    <p>Bio:</p>
                    <textarea id="bio" name="bio" cols="15" rows="8"></textarea>
                </div>
                <div class="right-inputs">
                    <p id="type">Gebruikers Typen:</p>
                    <select name="userType" id="userType">
                        <option value="user" selected>User</option>
                        <option value="admin">Admin</option>
                    </select>
                </div>
                <div class="right-inputs">
                    <p>Email:</p>
                    <input type="text" id="email" placeholder="jhon@doe.com">
                </div>
                <div class="right-inputs">
                    <p>Wachtwoord:</p>
                    <input type="password" id="pwd" placeholder="********">
                </div>
                <button id="save-button">Opslaan</button>
            </div>
        </div>
        <div class="pagination">
            <button class="pagination-btn-left" onclick="decrementPage()">&lt;</button>
            <input type="text" class="pagination-input" id="page" value="1"> <span id="pages">\</span>
            <button class="pagination-btn-right" onclick="incrementPage()">></button>
        </div>
    </div>
</main>

<footer></footer>


<!-- Javascript -->
<script src="https://cdn.fys.cloud/fyscloud/0.0.4/fyscloud.min.js"></script>
<script src="../../js/config.mockup.js"></script>
<script src="../../js/utils/sqlWrapper.js"></script>
<script src="../../js/menu.js"></script>
<script src="../../js/admin/table.js"></script>
<script>
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
</script>
</body>
</html>
