<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Panel</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../../img/favicon-32x32.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="../../css/navbar.css">
    <link rel="stylesheet" href="../../css/home/home.css">
    <link rel="stylesheet" href="../../css/admin/userPanel.css">
    <link rel="stylesheet" href="../../css/custom.css">

    <script src="https://cdn.fys.cloud/fyscloud/0.0.4/fyscloud.min.js"></script>
    <script src="../../js/config.js"></script>
    <script src="../../js/inlog-change.js" defer></script>
    <script src="../../js/auth/loggedout-href.js"></script>
    <script src="../../js/auth/logout.js" defer></script>
    <script  src="../../js/sqlWrapper.js" defer></script>
    <script  src="../../js/menu.js" defer></script>
    <script  src="../../js/admin/table.js" defer></script>
</head>
<body class="light-theme">
<header class="navbar">
    <div class="logo">
        <a href="../../../index.html">
            <img src="../../img/corendon-logo.svg" alt="Logo">
        </a>
    </div>
    <nav class="nav-list" id="nav-list">
        <ul>
            <li><a href="../../../index.html">Home</a></li>
            <li><a href="../about.html">About</a></li>
            <li><a href="../contact.html">Contact</a></li>
            <li class="matches-link"><a href="../matches.html">Vind Reispartners</a></li>
            <li class="responsive-log-buttons responsive login-btn"><a href="../auth/login.html">Inloggen</a></li>
            <li class="responsive-log-buttons responsive register-btn"><a href="../auth/register.html">Registreren</a></li>
            <li class="responsive-log-buttons responsive logout-btn"><a href="">Uitloggen</a></li>
            <li>
                <div class="lang-changer-input">
                    <select id="langSelecter" onchange="checklang()">
                        <option value="de">Deutsch</option>
                        <option value="en">English</option>
                        <option value="nl" selected>Nederlands</option>
                    </select>
                </div>
            </li>

            <li class="dropdown-box responsive-log-buttons default">
                <div class="dropdown">
                    <button class="drop-btn">
                        <i class="fa fa-caret-down"></i>
                        <i class="fa fa-caret-up"></i>
                    </button>
                    <div class="dropdown-content" id="dropdown-content">
                        <a href="../auth/login.html" class="login-btn">Inloggen</a>
                        <a href="../auth/register.html" class="register-btn">Registreren</a>
                        <a href="" class="logout-btn">Uitloggen</a>
                    </div>
                </div>
            </li>
        </ul>
    </nav>

    <div class="profile-button">
        <a href="../../views/profile.html">
            <img id="header-profile-img" src="../../img/default-avatar.png" alt="">
        </a>
    </div>

    <div class="theme-switch-box">
        <div class="switch">
            <div>
                <input type="checkbox" class="checkbox" id="checkbox">
                <label for="checkbox" class="label">
                    <i class="fas fa-sun"></i>
                    <i class="fas fa-moon"></i>
                    <span class="ball"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="burger-menu" id="toggle-btn">
        <div class="menu-line"></div>
        <div class="menu-line"></div>
        <div class="menu-line"></div>
    </div>
</header>
<main>
    <div class="card">
        <h1>Gebruikers</h1>
        <table id="tableArray">
        </table>
        <div class="delete-dialog" id="deleteDialog">
            <i class="fas fa-trash fa-6x"></i>
            <h2>Weet u het zeker?</h2>
            <p>Voer de gebruikers naam in, van de te verwijderen gebruiker.</p>
            <input type="text" id="controlUsername">
            <div class="buttons">
                <button class="cancel-delete" id="closeDeleteDialog" onclick="closeDeleteDialog()">Cancel</button>
                <button class="delete-user" id="deleteUser">Delete</button>
            </div>
        </div>
        <div class="edit-dialog" id="editDialog">
            <div class="left-side">
                <img src="../../img/user.png" id="userImage" alt="">
                <div class="edit-buttons">
                    <button class="cancel-delete" id="defaultBtn">
                       <b>Standaard</b>
                    </button>
                </div>
                <div class="left-inputs">
                    <p>Voornaam:</p>
                    <input type="text" placeholder="Jhon Doe" id="name">
                </div>
                <div class="left-inputs">
                    <p>Geboortedatum:</p>
                    <input type="date" id="birthDate" value="">
                </div>
                <div class="left-inputs">
                    <button onclick="closeEditDialog()" id="close-button">Sluiten</button>
                </div>
            </div>
            <div class="right-side">
                <div class="right-inputs">
                    <p>Bio:</p>
                    <textarea id="bio" name="bio" cols="30" rows="8"></textarea>
                </div>
                <div class="right-inputs">
                    <p id="type">Gebruikers Typen:</p>
                    <select name="userType" id="userType">
                        <option value="user" selected>User</option>
                        <option value="admin">Admin</option>
                    </select>
                </div>
                <div class="right-inputs">
                    <p>Email:</p>
                    <input type="text" id="email" placeholder="jhon@doe.com">
                </div>
                <div class="right-inputs">
                    <p>Wachtwoord:</p>
                    <input type="password" id="pwd" placeholder="********">
                </div>
                <div class="right-inputs">
                    <button id="save-button">Opslaan</button>
                </div>
            </div>
        </div>
        <div class="pagination">
            <button class="pagination-btn-left" onclick="decrementPage()">&lt;</button>
            <input type="text" class="pagination-input" id="page" value="1"> <span id="pages">\</span>
            <button class="pagination-btn-right" onclick="incrementPage()">></button>
        </div>
    </div>
</main>

<footer></footer>
<!-- Javascript -->

<script>
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
</script>
</body>
</html>
