<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../../img/favicon-32x32.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="../../css/navbar.css">
    <link rel="stylesheet" href="../../css/home/home.css">
    <link rel="stylesheet" href="../../css/admin/userPanel.css">
    <link rel="stylesheet" href="../../css/custom.css">

    <script type="text/javascript" src="https://cdn.fys.cloud/fyscloud/0.0.4/fyscloud.min.js" defer></script>
    <script src="../../js/config.js"></script>
    <script type="text/javascript"  src="../../js/sqlWrapper.js" defer></script>
    <script type="text/javascript"  src="../../js/menu.js" defer></script>
    <script type="text/javascript"  src="../../js/admin/table.js" defer></script>
</head>
<body class="light-theme">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<header> </header>
<main>
    <div class="card">
        <h1>Gebruikers</h1>
        <table id="tableArray">
        </table>
        <div class="delete-dialog" id="deleteDialog">
            <i class="fas fa-trash fa-6x"></i>
            <h2>Weet u het zeker?</h2>
            <p>Voer de gebruikers naam in, van de te verwijderen gebruiker.</p>
            <input type="text" id="controlUsername">
            <div class="buttons">
                <button class="cancel-delete" id="closeDeleteDialog" onclick="closeDeleteDialog()">Cancel</button>
                <button class="delete-user" id="deleteUser">Delete</button>
            </div>
        </div>
        <div class="edit-dialog" id="editDialog">
            <div class="left-side">
                <img src="../../img/user.png" id="userImage" alt="">
                <div class="edit-buttons">
                    <button class="cancel-delete" id="defaultBtn">
                       <b>Standaard</b>
                    </button>
                </div>
                <div class="left-inputs">
                    <p>Voornaam:</p>
                    <input type="text" placeholder="Jhon Doe" id="name">
                </div>
                <div class="left-inputs">
                    <p>Geboortedatum:</p>
                    <input type="date" id="birthDate" value="">
                </div>
                <div class="left-inputs">
                    <button onclick="closeEditDialog()" id="close-button">Sluiten</button>
                </div>
            </div>
            <div class="right-side">
                <div class="right-inputs">
                    <p>Bio:</p>
                    <textarea id="bio" name="bio" cols="30" rows="8"></textarea>
                </div>
                <div class="right-inputs">
                    <p id="type">Gebruikers Typen:</p>
                    <select name="userType" id="userType">
                        <option value="user" selected>User</option>
                        <option value="admin">Admin</option>
                    </select>
                </div>
                <div class="right-inputs">
                    <p>Email:</p>
                    <input type="text" id="email" placeholder="jhon@doe.com">
                </div>
                <div class="right-inputs">
                    <p>Wachtwoord:</p>
                    <input type="password" id="pwd" placeholder="********">
                </div>
                <div class="right-inputs">
                    <button id="save-button">Opslaan</button>
                </div>
            </div>
        </div>
        <div class="pagination">
            <button class="pagination-btn-left" onclick="decrementPage()">&lt;</button>
            <input type="text" class="pagination-input" id="page" value="1"> <span id="pages">\</span>
            <button class="pagination-btn-right" onclick="incrementPage()">></button>
        </div>
    </div>
</main>

<footer></footer>
<!-- Javascript -->

<script>
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
</script>
</body>
</html>
