@import url("./custom.css");

body, html {
    background-color: var(--bg);
}

.navbar {
    background-color: var(--nav-bg);
    box-shadow: 0 -2px 20px 0 var(--nav-shadow);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 101;
    width: 100%;
}

.logo {
    padding: 20px;
    flex: 1;
}

.logo a img {
    width: 150px;
}

.nav-list {
    display: flex;
    justify-content: center;
    flex: 2;
}

.nav-list li {
    display: inline-block;
    padding: 20px 10px;
}

.nav-list li a {
    color: var(--text1);
    padding: 8px 8px;
    border-radius: 5px;
}

.nav-list li option {
    background-color: var(--bg);
    color: var(--text1);
    padding: 8px 8px;
    border-radius: 5px;
}

.nav-list li a:hover {
    background-color: rgba(211, 0, 0, 0.8);
    color: white;
    transition: all 0.4s ease-in;
}

.navbar li a.active {
    background-color: var(--red);
    color: white;
}

.theme-switch-box {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.burger-menu {
    display: none;
}

.menu-line {
    width: 28px;
    height: 3px;
    margin-bottom: 5px;
    background-color: var(--burger-bg);
}

a {
    text-decoration: none;
}

/*Dropdown navbar*/
.dropdown-box {
    display: inline-block;
    justify-content: center;
}

.dropdown .drop-btn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: var(--burger-bg);
    padding: 0 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-left: -135px;
    margin-top: 20px;
    background-color: var(--nav-bg);
    min-width: 160px;
    z-index: 1;
    border: 1px solid var(--border-color-prio-dark);
    border-radius: 5px;
}

.dropdown-content a {
    display: block;
}

.fa-caret-up {
    display: none;
}

.hide {
    display: none;
}

.show {
    display: block;
}

/* dark/light mode switcher */
.checkbox {
    opacity: 0;
    position: absolute;
}

.switch {
    padding-right: 20px;
}

.label {
    width: 45px;
    height: 22px;
    background-color: #111;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
}

.ball {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 1px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(20px);
}

.fa-moon {
    color: grey;
}

.fa-sun {
    color: yellow;
}

.lang-changer-input {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

/* responsive design */
@media all and (max-width: 768px) {

    .navbar {
        flex-direction: column;
    }

    .burger-menu {
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
        cursor: pointer;
    }

    .logo {
        width: 100%;
        padding: 10px;
    }

    .nav-list {
        width: 100%;
        display: none;
    }

    .nav-list li {
        display: block;
        padding: 15px;
        border-bottom: 1px solid rgba(227, 227, 227, 0.25);
    }

    .nav-list li:last-child {
        display: flex;
        justify-content: flex-end;
        border-bottom: 0;
    }

    .active-menu {
        display: block;
    }

    .animation {
        animation: menu-animation 500ms ease-in-out forwards;
        transform-origin: top center;
    }

    .switch {
        position: fixed;
        right: 50px;
        top: 14px;
    }
}

@keyframes menu-animation {
    0% {
        opacity: 0;
        transform: rotateX(-90deg);
    }
    50% {
        transform: rotateX(-20deg);
    }
    100% {
        opacity: 1;
        transform: rotateX(0deg);
    }
}
