html{
    overflow:hidden;
}

.hero-img{
    background-image: url("../../img/arrow.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 75vh;
}
.mainSection{
    display: flex;
    flex-direction: row;
    height: 93vh;
    max-height:93vh;
}
.leftSection{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url("../../img/arrow.png");
    background-repeat: round;
    background-size: contain;
    background-position: center;
    height: auto;
    max-width: 50%;
    width: 50vw ;

}
.rightSection{
    background-image: url("../../img/people.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: auto;
    max-width: 50%;
    width: 50vw ;
}
.items-left{
    display: flex;
    flex-direction: column;
    align-items: center;
   flex:1;
}
.top,.bottom{
    flex:1;
}
.mainText{
    display: flex;
    flex-direction: column;
    max-width: 80%;
    width: 100%;
    align-self: flex-start;

}
.subButton{
    width: 166px;
    height: 44px;
    background: rgba(216,30,5,1);
    opacity: 1;
    margin-top: 25px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
    color: white;
    align-self: flex-start;
}
.text1{
    font-size: 3.5em;
    font-weight: lighter;
}
.text2{
    font-size: 4em;
    font-weight: bold;
}
.subText{
    max-width: 80%;
    width: 100%;
    align-self: flex-start;

}

.cards{
    height: 100vh;
    padding: 5rem;
}

.flex-grid{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 100px;
}

.col{
    display: flex;
    justify-content: center;
    flex: 1;
    margin: 10px;
}

.hearted{
    color: var(--red);
}
 @media only screen and (min-width: 480px) and (orientation: portrait)
 {

 }

@media all and (max-width: 1000px){
   .flex-grid{
       flex-direction: column;
   }
}
/* iPad Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* CSS */
    .leftSection{
        display: flex;
        flex-direction: column;
        align-items: center;

        background-image: url("../../img/arrowipadright.png");
        background-repeat: round;
        background-size: cover;
        background-position: center;
        height: auto;
        max-width: 100%;
        width: 100% ;
    }
    .rightSection{
        background-image: url("../../img/people.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: auto;
        max-width: 100% ;
        width: 100% ;
    }
    .mainSection{
        display: flex;
        flex-direction: row;
        height: 93vh;
        max-height:93vh;
    }
    .mainText{
        display: flex;
        flex-direction: column;
        max-width: 80%;
        width: 100%;
        align-self: center;

    }
    .subButton{
        width: 166px;
        height: 44px;
        background: rgba(216,30,5,1);
        opacity: 1;
        margin-top: 25px;
        border: 1px solid rgba(0,0,0,1);
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        overflow: hidden;
        color: white;
        align-self: center;
    }
    .text1{
        font-size: 3.5em;
        font-weight: lighter;
        text-align: center;
    }
    .text2{
        font-size: 4em;
        font-weight: bold;
        text-align: center;
    }
    .subText{
        max-width: 80%;
        width: 100%;
        align-self: center;
        text-align: center;
    }

}

/* iPad Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* CSS */
    .leftSection{
        display: flex;
        flex-direction: column;
        align-items: center;

        background-image: url("../../img/arrowdown.png");
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center;
        height: 56vh;
        max-width: 100%;
        width: 100% ;
    }
    .rightSection{
        background-image: url("../../img/peopleipad.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 37vh;
        max-width: 100% ;
        width: 100% ;
    }
    .mainSection{
        display: flex;
        flex-direction: column;
        height: 93vh;
        max-height:93vh;
    }
    .mainText{
        display: flex;
        flex-direction: column;
        max-width: 80%;
        width: 100%;
        align-self: center;

    }
    .subButton{
        width: 166px;
        height: 44px;
        background: rgba(216,30,5,1);
        opacity: 1;
        margin-top: 25px;
        border: 1px solid rgba(0,0,0,1);
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        overflow: hidden;
        color: white;
        align-self: center;
    }
    .text1{
        font-size: 3.5em;
        font-weight: lighter;
        text-align: center;
    }
    .text2{
        font-size: 4em;
        font-weight: bold;
        text-align: center;
    }
    .subText{
        max-width: 80%;
        width: 100%;
        align-self: center;
        text-align: center;
    }
}