footer{
    width: 100%;
    min-height: 300px;
    background-image: url("../svg/Shape.svg");
    background-repeat: no-repeat;
    background-position: top center;
    color: var(--text1) ;
}
.footer-nav{
    padding-top: 60px;
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    padding-bottom: 110px;
}
.left-footer-nav{
    justify-content: space-between;
    flex: 1;
    max-width: 50%;
    flex-grow: 1;
}
.left-footer-nav nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.left-footer-nav a{
    text-align: left;
    text-decoration: none;
    color: var(--text1) ;
}

.right-footer-nav{
    justify-content: space-between;
    flex: 1;
    max-width: 30%;
    flex-grow: 1;
}
.right-footer-nav nav{
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.right-footer-nav a{
    filter: var(--social-footer-nav) ;
}
.gray-footer-line {
    width: 70%;
    height: 2px;
    background-color: #DCDCDC;
    display: block;
    margin: auto;
}
.footer-text-box{
    padding-top: 20px;
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    padding-bottom: 20px;
}
.footer-copyright{
    justify-content: space-between;
    flex: 1;
    max-width: 50%;
    flex-grow: 1;
}
.right-footer-nav{
    justify-content: space-between;
    flex: 1;
    max-width: 30%;
    flex-grow: 1;
}
.right-footer-nav a{
    text-decoration: none;
    color: var(--text1) ;
}
.footer-image img{
    margin-left: auto;
    margin-right: auto;
    max-height: 100px;
    padding-bottom: 40px;
}
.footer-image{
    width: 100%;
    display: flex;
}
.footer-privacy-nav a {
    color: var(--text1) ;
}
.
@media only screen and (max-width: 600px) {
    .footer-nav {
        flex-direction: column;
        padding-bottom: 75px;
    }
    .left-footer-nav {
        max-width: 100%;
    }
    .right-footer-nav {
        max-width: 100%;
        padding-top: 30px;
    }
    .footer-copyright{
        max-width: 100%;
        margin: auto;
    }
    .footer-privacy-nav{
        max-width: 100%;
        margin: auto;
        padding-top: 30px;
    }
    .footer-text-box{
        flex-direction: column;
    }
}