* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-size: 14px;
    height: 100%;
    padding-top: 73px;
}

main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4em;
}

/*.test {*/
/*    background:url(../../img/auth-bg.png) repeat-x 0 0;*/
/*}*/

.bio-container, .basic-info-container, .interests-container, .contact-info-container {
    padding: 1.5em 2em;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 15px;
    width: 49%;
}

/* Basic info container */

.basic-info-container {
    display: flex;
    padding: 4em 3em;
    margin-bottom: 3em;
    justify-content: start;
    /*max-height: 418px;*/
}

.basic-info-text-container {
    font-size: 18px;
    /*margin: 7px 0;*/
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    justify-content: center;
}

.basic-info-text-container > * {
    margin: 10px 0;
}

.basic-info-text-container span.bold {
    font-weight: 600;
}

.basic-info-container .profile-picture {
    /*height: 100%;*/
    /*box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);*/
}

.profile-page-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 95em;
}

.wijzig-profiel-button-container {
    width: 100%;
}

.edit-profile-button {
    background-color: #DB1B1B;
    color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 5px 18px;
    border-radius: 10px;
    font-weight: 100;
}





/* Contact container */

.contact-info-container {
    display: flex;
    flex-direction: column;
    box-shadow: none;
    padding: 0;
    justify-content: center;
    margin-bottom: 3em;
}

.info-bar {
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    border-radius: 15px;
    /*height: 72px;*/
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.info-bar .icon {
    font-size: 20px;
    border-radius: 15px;
    margin: 10px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-bar .icon i {
    font-size: 28px;
}

.info-bar .icon.interesses, .info-bar .icon.send-message {
    background-color: #ef9696;
}

.info-bar .icon.phone-number {
    background-color: #96efa4
}

.info-bar .icon.email {
    background-color: #96b4ef
}

.contact-info-container .big-text {
    font-size: 20px;
    font-weight: 600;
    color: black;
}

.contact-info-container span {
    color: #58A8F7;
    font-size: 16px;
    margin: 7px 0;
    margin-left: 15px;
}

.contact-info-container span.icon {
    color: black;
    margin-right: 8px;
}

.big-container-text {
    font-size: 40px;
}

/* Bio container */

.bio-container {
    font-size: 18px;
    /*margin-bottom: 125px;*/
}

/* Interests container */

.interests-container {
    font-size: 18px;
}

.interests-container ul {
    margin: 0.5em 0 0.5em 28px;
}

/* media queries */

@media only screen and (max-width: 1200px) {
    .profile-page-wrapper {
        /*max-width: 57em;*/
    }
}

@media only screen and (max-width: 1120px) {
    .profile-page-wrapper {
        max-width: 37em;
    }

    .bio-container, .basic-info-container, .interests-container, .contact-info-container {
        width: 100%;
    }

    /*.bio-container {*/
    /*    order: 2;*/
    /*}*/

    /*.basic-info-container {*/
    /* order: 1;*/
    /*}*/

    /*.interests-container {*/
    /*    order: 3;*/
    /*}*/

    /*.contact-info-container {*/
    /*    order: 4;*/
    /*}*/
}