* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    height: 100%;
    padding-top: 100px;
}

main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    padding: 0 4em;
}

.profile-page-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 70em;
}

.wijzig-profiel-button-container {
    width: 100%;
    margin: 1em 0 2.5em 0;
}

.edit-profile-button {
    background-color: #1CA1F1;
    color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 5px 18px;
    border-radius: 10px;
    font-weight: 100;
}

.bio-container, .basic-info-container, .interests-container, .contact-info-container {
    padding: 1.5em 2em;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 15px;
    margin-bottom: 3em;
}

.bio-container {
    width: 50%;
    font-size: 15px;
    margin-bottom: 125px;
}

.basic-info-container {
    width: 22em;
    display: flex;
    flex-direction: column;
    padding: 1.5em 3.2em;
    justify-content: space-between;
    max-height: 418px;
}

.basic-info-container span {
    font-size: 18px;
    margin: 7px 0;
}

.basic-info-container span.bold {
    font-weight: 600;
}

.basic-info-container .profile-picture {
    /*height: 100%;*/
    /*box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);*/
}

.interests-container {
    width: 50%;
    margin-top: -95px;
}

.interests-container ul {
    margin: 0.5em 0 0.5em 28px;
}

.contact-info-container {
    width: 22em;
    display: flex;
    flex-direction: column;
    padding: 1.5em 3.2em;
}

.contact-info-container .big-text {
    font-size: 20px;
    font-weight: 600;
    color: black;
}

.contact-info-container span {
    color: #58A8F7;
    font-size: 16px;
    margin: 7px 0;
}

.contact-info-container span.icon {
    color: black;
    margin-right: 8px;

}

.big-container-text {
    font-size: 40px;
}

@media only screen and (max-width: 1200px) {
    .profile-page-wrapper {
        /*max-width: 57em;*/
    }
}

@media only screen and (max-width: 860px) {
    .bio-container, .basic-info-container, .interests-container, .contact-info-container {
        width: 100%;
    }

    .bio-container {
        order: 2;
    }

    .basic-info-container {
     order: 1;
    }

    .interests-container {
        order: 3;
    }

    .contact-info-container {
        order: 4;
    }
}