@import url("../custom.css");

* {
    color: var(--text1);
}

/*===================|USer info|==================================*/
.frame {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 700px;
    height: 700px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    color: var(#444444);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.center {
    position: absolute;
    top: 50px;
    left: 40px;
    height: 399px;
    width: 420px;
    background: var(--bg);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
}
.profile {
    float: left;
    width: 300px;
    height: 320px;
    text-align: center;
}
.profile .image {
    position: relative;
    width: 70px;
    height: 70px;
    margin: 38px auto 0 auto;
}
.profile .image .circle-1, .profile .image .circle-2 {
    position: absolute;
    box-sizing: border-box;
    width: 76px;
    height: 76px;
    top: -3px;
    left: -3px;
    border-width: 1px;
    border-style: solid;
    border-color: #F50000 #F50000 #F50000 transparent;
    border-radius: 50%;
    transition: all 1.5s ease-in-out;
}
.profile .image .circle-2 {
    width: 82px;
    height: 82px;
    top: -6px;
    left: -6px;
    border-color: #F50000 transparent #F50000 #F50000;
}
.profile .image img {
    display: block;
    border-radius: 50%;
    background: #f5e8df;
}
.profile .image:hover {
    cursor: pointer;
}
.profile .image:hover .circle-1, .profile .image:hover .image .circle-2, .profile .image .image:hover .circle-2 {
    transform: rotate(360deg);
}
.profile .image:hover .circle-2 {
    transform: rotate(-360deg);
}
.profile .name {
    font-size: 15px;
    font-weight: 600;
    margin-top: 20px;
}
.profile .job {
    font-size: 11px;
    line-height: 15px;
}
.profile .actions {
    margin-top: 33px;
}
.profile .actions .btn {
    display: block;
    width: 120px;
    height: 30px;
    margin: 0 auto 10px auto;
    background: none;
    border: 1px solid #F50000;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 600;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    color: #F50000;
}
.profile .actions .btn:hover {
    background: #F50000;
    color: #fff;
}

.stats {
    float: left;
}
.stats .box {
    box-sizing: border-box;
    width: 120px;
    height: 133px;
    border-radius: 25px;
    text-align: center;
    padding-top: 28px;
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-in-out;
}
.box span {
    margin-top: 10px;
}
.stats .box:hover {
    background: var(--red);
    cursor: pointer;
}
.stats .box:nth-child(2) {
    margin: 1px 0;
}
.stats span {
    display: block;
}
.stats .value {
    font-size: 18px;
    font-weight: 600;
}
.stats .parameter {
    font-size: 11px;
}

.bio {
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.3);
}
.bio-content {

}
/*=====================| Chart Section |=============================================*/
.chart-background {
    width: 350px;
    height: 350px;
    margin-left: 14%;
    margin-top: 10%;
    background-color: var(--bg);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    color: var(--text1);
}

.user-count img {
    height: 25px;
    width: 25px;
    display: block;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.user-count p {
    margin-left: 40px;
    margin-top: 10px;
}

#total-users {
    float: right;
    margin-right: 100px;
}

.user-info-card {
    margin-top: 20%;
    margin-right: 25%;
    width: 500px;
    height: 70%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 25px;
    background-color: var(--bg);
    display: flex;
    flex-wrap: wrap;
}
