@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* styling for the chat button which is shown on the right bottom corner of the website */
.chat-btn {
    visibility: hidden;
    display: block;
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--red);
    color: white;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 400ms ease-in;
}

.chat-btn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
    transition: background-color 400ms ease-in;
}

.chat-icon{
    color: #FFFFFF;
    font-size: 30px;
}

/* styling for the chat modals */
.chat-modal{
    visibility: hidden;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;
    background-color: var(--bg);
    width:360px;
    transform:scale(0.1);
    transform-origin: bottom right; /* the scale effect will start from the bottom right */
    transform-style: preserve-3D;
    transition: transform 300ms ease-in-out;
    box-shadow: -3px -3px 17px 0 #79554824;
}

/* this class is added with javascript, it shows the chat with a scaling effect  */
.show-chat{
    transform:scale(1);
    visibility: visible;
}

/* this class is added with javascript, it hides the chat with a scaling effect */
.hide-chat{
    transform-origin: bottom right; /* the scale effect will shrink to the bottom right */
    transform-style: preserve-3D;
    transition: transform 200ms ease-in-out, visibility 200ms linear;
    transform: scale(0.1);
    visibility: hidden;
}

.chat-header{
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgba(227, 227, 227, 0.25);
}

.chat-header-title{
    color: var(--text1);
}

/* styling for the chat tabs on the main modal */
.chat-tabs{
    display: flex;
    position: sticky;
    top: 0;
    background-color: var(--bg);
    z-index: 2;
}

.contacts-tab,
.requests-tab{
    display: flex;
    justify-content: center;
    flex: 1;
}

.chat-tabs-btn{
    padding: 5px 30px;
    margin: 10px 0 10px 0;
    border-radius: 10px;
}

.contacts-tab button,
.requests-tab button{
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.contacts-tab button{
    background-color: rgb(59,130,246);
}

.requests-tab button{
    background-color:rgb(16,185,129);
}

.requests-list{
    display:none;
}

.request-options button{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
}

.request-options .accept-request-btn{
    background-color: rgb(16,185,129);
}

.request-options .decline-request-btn{
    background-color: rgb(206, 7, 0);
}

.hide-tab{
    display:none;
}

.show-tab{
    display: block;
}

.detail-person-header{
    display: flex;
    align-items: center;
    gap: 10px;
}

.detail-person-header p{
    font-weight: bold;
    color: var(--text1);
}

.profile-img{
    display: contents;
}

.profile-img img,
.detail-person-header img{
    height: 45px;
    border-radius: 50%;
}

.close-btn{
    background: none;
    border: none;
    cursor: pointer;
}

.back-btn-chat{
    color: var(--text1);
    cursor: pointer;
}

.close-icon{
    color: red;
    font-size: 30px;
}

.chat-content, 
.chat-contacts{
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
    overflow: auto;
    height: 380px;
}

.chat-content{
    margin-bottom: 60px;
}

/* styling for the scrollbar from the chat content */
.chat-content::-webkit-scrollbar {
    width: 5px;
}

/*chatbox content scrollbar*/
.chat-content::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.chat-content::-webkit-scrollbar-thumb {
    background: #888;
}

.chat-content::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.chat-footer{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(227, 227, 227, 0.25);
    background-color: var(--bg);
    width: 100%;
}

.chat-footer form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.chat-footer .btn-box{
    margin-left: auto;
}

.chat-footer .input-box{
    margin-left: 75px;
}

.form-box-icon{
    color: red;
    font-size: 25px;
}

.chat-footer input[type=text]{
    height: 40px;
    width: 200px;
    color: black;
    padding: 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px;
    border: 2px solid #ECEBEB;
    border-radius: 50px;
}

.chat-footer input[type=text]:focus{
    border: 2px solid red;
    transition: border 500ms ease-in;
}

.chat-footer input[type=text]::placeholder{
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: medium;
}

.send-msg-btn{
    background: none;
    border: none;
    cursor: pointer;
}

/* 3 dots button in chat contacts */
.contact-option{
    position: absolute;
    right: 5px;
    top: 15px;
}

/* chat contacts dropdown content */
.contact-dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--nav-bg);
    z-index: 1;
    border-radius: 5px;
}

/* Block user button in chat contacts overview*/
.block-btn{
    background-color: rgb(206, 7, 0);
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 4px 10px 4px 10px;
    margin-left: -18px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}

.show-contact{
    display: block;
}

/*right chat for current user*/
.right-chat{
    width: 94%;
    height: fit-content;
    background: rgba(82, 86, 95, 0.33);
    border-radius: 16px 16px 0 16px;
    margin: 10px;
    padding: 10px;
    color: var(--text1);
}

.right-chat .messages-time{
    text-align:right;
    color: #7A7A7A;
}

.left-chat .messages-time{
    text-align:left;
    color: #414141;
}

/*left chat for recipient person*/
.left-chat{
    width: 94%;
    height: fit-content;
    background: #2196f3;
    border-radius: 16px 16px 16px 0;
    margin: 10px;
    padding: 10px;
}

li p{
    font-weight: lighter;
    font-size:smaller;
}

.back-btn-box i{
    font-size: 25px;
}

.message-overview{
    display: flex;
}

.message-overview-text{
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 5;
}

.message-list-item,
.requests-list-item{
    position: relative;
    display: block;
    width: 100%;
    padding: 10px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
    cursor: pointer;
    transition: background-color 400ms ease;
}

.requests-list-item{
    cursor: default;
}

.message-list-item:hover{
    background-color: rgba(85, 85, 85, 0.40);
    transition: background-color 400ms ease;
}

.message-overview-img{
    flex: 1;
}

.message-overview-img img{
    max-width: 40px;
    width: 100%;
    border-radius: 50%;
}

.messages-list li{
    display: inline-block;
}

.messages-overview-name h3{
    font-size: 15px;
    color: var(--text1);
}

.messages-text{
    display: flex;
    justify-content: space-between;
}

.messages-text p{
    color: var(--text1);
}

.messages-time{
    font-style: normal;
    font-weight: lighter;
    font-size: 12px;
}

