<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../../img/favicon-32x32.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="../../css/navbar.css">
    <link rel="stylesheet" href="../../css/home/home.css">
    <link rel="stylesheet" href="../../css/admin/panel.css">
    <link rel="stylesheet" href="../../css/custom.css">
</head>
<body class="light-theme">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<header class="navbar">
    <div class="logo" >
        <a href="">
            <img src="../../img/corendon-logo.svg" alt="Logo">
        </a>
    </div>
    <nav class="nav-list" id="nav-list">
        <ul>
            <li><a href="./index.html" class="active">Home</a></li>
            <li><a href="userPanel.html">Gebruikers Overzicht</a></li>
        </ul>
    </nav>
    <div class="theme-switch-box">
        <label class="switch">
            <div>
                <input type="checkbox" class="checkbox" id="checkbox">
                <label for="checkbox" class="label">
                    <i class="fas fa-sun"></i>
                    <i class="fas fa-moon"></i>
                    <div class="ball"></div>
                </label>
            </div>
        </label>
    </div>
    <div class="burger-menu" id="toggle-btn">
        <div class="menu-line"></div>
        <div class="menu-line"></div>
        <div class="menu-line"></div>
    </div>
</header>

<main>
    <div class="mainSection">
        <div class="leftSection">
            <div class="top"></div>

            <div class="items-left">
                <div class="chart-background">
                    <div class="user-count">
                        <img src="../../img/user.png" alt="">
                           <p>Aantal Gebruikers: <span id="total-users">1234</span></p>  <!-- Set users with getTotallUsersAsync()-->
                    </div>
                    <canvas id="chart" style="width:100%;max-width:1000px; height: 300px;"></canvas>
                </div>
            </div>
            <div class="bottom">

            </div>
        </div>
        <div class="rightSection">
            <div class="user-info-card">
                <div class="frame">
                    <div class="center">

                        <div class="profile">
                            <div class="image">
                                <div class="circle-1"></div>
                                <div class="circle-2"></div>
                                <img src="../../img/user.png" width="70" height="70" alt="Jessica Potter">
                            </div>

                            <div class="name" id="admin-panel-name">Jhon Doe</div>
                            <div class="email" id="email-panel-name">Jhone@doe.com</div>

                            <div class="actions">
                                <br>
                                <div class="bio">
                                    <h2>Bio: </h2>
                                    <div class="bio-content">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci amet deleniti earum esse et explicabo laudantium minus nisi omnis quam quibusdam, reiciendis, </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="stats">
                            <div class="box">
                                <span class="value">523</span>
                                <span class="parameter">Gekoppelde gebruikers</span>
                            </div>
                            <div class="box">
                                <span class="value">Laasts Actief</span>
                                <span class="parameter">20-10-2021</span>
                            </div>
                            <div class="box">
                                <span class="value">146</span>
                                <span class="parameter">Volgers</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer></footer>

<script src="../../js/menu.js"></script>
<script src="../../js/admin/chart.js"></script>
<script src="../../js/admin/table.js"></script>
<script>
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
</script>
</body>
</html>