@import url("../custom.css");

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-size: 14px;
    height: 100%;
    padding-top: 73px;
}

main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main::after {
    content: "";
    background: url(../../img/red-background-blob.png) no-repeat center;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}

.profile-page-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    height: 100%;
    margin: 3em;
}

.bio-container, 
.basic-info-container, 
.interests-container, 
.contact-info-container {
    padding: 1.5em 2em;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    width: 49%;
    background-color: var(--bg);
    color: var(--text1);
}

/* Basic info container */

.basic-info-container {
    display: flex;
    padding: 4em 3em;
    margin-bottom: 3em;
    justify-content: space-between;
    align-items: center;
}

.basic-info input, .basic-info select {
    display: block;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 4px;
    max-width: 100%;
    min-width:169px;
    -moz-appearance: textfield;
}

.basic-info-container > div {
    width: 45%;
}

.basic-info-text-container {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.basic-info-text-container > * {
    margin: 5px 0;
}

.basic-info-text-container span.bold {
    font-weight: 600;
    margin: 10px 0 10px 0;
    padding-right: 3px;
}

.profile-picture-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 227px;
    max-width: 227px;
    min-height: 197px;
    min-width: 197px;
}

.profile-picture-container::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.profile-picture-container div {
    border-radius: 100px;
    font-size: 21px;
}

.profile-picture-container input {
    display: none;
}

.profile-picture-container label {
    cursor: pointer;
}

.profile-picture-container label:hover {
    color: gray;
}

.profile-picture-edit-button-container {
    position: absolute;
    z-index: 1;
    top: 15px;
    left: 18px;
}

.profile-picture-delete-button-container {
    position: absolute;
    z-index: 1;
    top: 15px;
    right: 16px;
}

.custom-file-upload-button {
    position: absolute;
    display: inline-block;
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    left: -32px;
    top: -25px;
    border: 2px solid black;

}

.custom-file-upload-button i {
    position: relative;
    display: inline-block;
    position: absolute;
    left: 6px;
    top: 4px;
    color: black;
}

.delete-button {
    position: absolute;
    display: inline-block;
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    right: -32px;
    top: -25px;
    border: 2px solid black;
}

.delete-button i {
    position: relative;
    display: inline-block;
    position: absolute;
    right: 6px;
    top: 4px;
    color: black;
}

.basic-info-container .profile-picture {
    position: absolute;
    height: 100%;
    width: 100%;
    max-height: 227px;
    max-width: 227px;
    min-height: 197px;
    min-width: 197px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.change-profile-button-container {
    margin-top: 10px;
    width: 100%;
    margin-top: 7px;
    display:inline-block;
}

.edit-profile-button {
    font-size: 14px;
    background-color: #DB1B1B;
    color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 5px 18px;
    border-radius: 10px;
    font-weight: 100;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    max-width: 100%;
}

/* Contact container */

.contact-info-container {
    display: flex;
    flex-direction: column;
    box-shadow: none;
    padding: 0;
    justify-content: center;
    margin-bottom: 3em;
    background-color: initial;
}

.info-bar {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    align-items: center;
    margin: 5px 0;
    background-color: var(--bg);
    color: var(--text1);
    cursor: pointer;
}

.info-bar .icon {
    font-size: 20px;
    border-radius: 15px;
    margin: 10px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-bar .icon i {
    font-size: 28px;
}

.info-bar .icon.interests, .info-bar .icon.send-message {
    background-color: #ef9696;
}

.info-bar .icon.phone-number {
    background-color: #96efa4
}

.info-bar .icon.email {
    background-color: #96b4ef
}

.info-bar.match-bar {
    display: none;
}

.info-bar.match-bar.active {
    display: flex;
}

.input-container {
    flex-grow: 1;
    padding-right: 10px;
}

.info-bar input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.contact-info-container .big-text {
    font-size: 20px;
    font-weight: 600;
    color: black;
}

.contact-info-container span {
    color: #58A8F7;
    font-size: 16px;
    margin: 7px 0 7px 15px;
}

.contact-info-container span.icon {
    color: black;
    margin-right: 8px;
}

.big-container-text {
    font-size: 40px;
    width: 100%;
    display: inline-block;
    text-align: center;
}

/* Bio container */

.bio-container {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    min-height: 315px;
    overflow-wrap: break-word;
}

.bio-container .textarea-container {
    flex-grow: 1;
}

.bio-container textarea {
    resize: none;
    min-height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

/* Interests container */

.interests-elements-container {
    display: flex;
    justify-content: space-evenly;
}

.interests-container {
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.bio-container,
.interests-container{
    height: fit-content;
}

.big-container-text {
    font-size: 20px;
    margin-bottom: 10px;
}

.interests-container ul {
    margin: 0.5em 0 0.5em 28px;
}

.interests-elements-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-grow: 1;
}

.interest-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-basis: 25%;
    margin-bottom: 10px;
}

.interests-subtext {
    margin-left: 20px;
    color: #6e6e6e;
    font-size: 16px;
    display: inline-block;
}

.interests-subtext.shake{
    color: red;
    font-size:20px;
    -webkit-animation-name: shake;
    -webkit-animation-duration: 0.5s;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite;
  }
  
  @-webkit-keyframes shake {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); } 
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

.interest-element img {
    width: 85px;
    height: 85px;
    border-radius: 50px;
    margin: 0 auto;
    box-shadow: 0 2px 6px rgb(0 0 0 / 35%);
    padding: 5px;
    background-color: white;
}

.interest-element span {
    text-align: center;
}

.interests-checkboxes-container {
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
}

.interests-checkboxes-container.active {
    display: flex;
}

.interest-checkbox-container {
    margin: 5px;
    flex-basis: 31%;
    flex-grow: 1;
}

/* .interest-checkbox-container label {
}

.interest-checkbox-container input {
} */

/* Checkbox styling */

/* Base for label styling */
.interest-checkbox-container [type="checkbox"]:not(:checked),
.interest-checkbox-container [type="checkbox"]:checked {
    position: absolute;
    left: 0;
    opacity: 0.01;
}

.interest-checkbox-container [type="checkbox"]:not(:checked) + label,
.interest-checkbox-container [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 2.3em;
    font-size: 1.05em;
    line-height: 1.7;
    cursor: pointer;
}

/* checkbox aspect */
.interest-checkbox-container [type="checkbox"]:not(:checked) + label:before,
.interest-checkbox-container [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.4em;
    height: 1.4em;
    border: 1px solid #aaa;
    background: #FFF;
    border-radius: .2em;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1), 0 0 0 rgba(203, 34, 237, .2);
    -webkit-transition: all .275s;
    transition: all .275s;
}

/* checked mark aspect */
.interest-checkbox-container [type="checkbox"]:not(:checked) + label:after,
.interest-checkbox-container [type="checkbox"]:checked + label:after {
    content: '✕';
    position: absolute;
    top: .525em;
    left: .18em;
    font-size: 1.375em;
    color: #DB1B1B;
    line-height: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
}

/* checked mark aspect changes */
.interest-checkbox-container [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0) rotate(45deg);
    transform: scale(0) rotate(45deg);
}

.interest-checkbox-container [type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
}

/* Disabled checkbox */
.interest-checkbox-container [type="checkbox"]:disabled:not(:checked) + label:before,
.interest-checkbox-container [type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #e9e9e9;
}

.interest-checkbox-container [type="checkbox"]:disabled:checked + label:after {
    color: #777;
}

.interest-checkbox-container [type="checkbox"]:disabled + label {
    color: #aaa;
}

/* Accessibility */
.interest-checkbox-container [type="checkbox"]:checked:focus + label:before,
.interest-checkbox-container [type="checkbox"]:not(:checked):focus + label:before {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1), 0 0 0 6px rgba(203, 34, 237, .2);
}

.pagination-container {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.pagination-container > * {
    cursor: pointer;
}

.pagination-element {
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 100px;
    margin: 5px 10px;
    font-size: 18px;
    border: 1px solid black;
    line-height: 1.3;
    background-color: white;
    color: black;
}

.pagination-element.active {
    font-weight: bold;
    background-color: #9a2110;
    color: white;
}

.pagination-element:hover {
    border: 1px solid gray;
}

footer {
    text-align: center;
    padding: 10px;
}

/* media queries */

@media only screen and (max-width: 1500px) {
    .profile-page-wrapper {
        max-width: 950px;
        height: 100%;
        margin: 3em;
    }

    .basic-info-container {
        padding: 2.5em 2em;
    }

    .basic-info-text-container {
        font-size: 16px;
    }

    .basic-info-text-container > * {
        margin: 3px 0;
    }

    .basic-info-text-container span.bold {
        margin: 3px 0;
    }

    .info-bar .icon {
        font-size: 14px;
        width: 40px;
        height: 40px;
    }

    .info-bar .icon i {
        font-size: 18px;
    }

    .contact-info-container .big-text {
        font-size: 14px;
    }

    .contact-info-container span {
        font-size: 14px;
    }

    .bio-container {
        font-size: 14px;
    }

    .interests-container {
        font-size: 14px;

    }
}

@media only screen and (max-width: 1100px) {
    .profile-page-wrapper {
        max-width: 40em;
    }

    .bio-container, .basic-info-container, .interests-container, .contact-info-container {
        width: 100%;
        margin-bottom: 2em;
    }

    /* Keeping this uncommented code here incase the order has to be changed again at a later date */

    /*.bio-container {*/
    /*    order: 2;*/
    /*}*/
    /*.basic-info-container {*/
    /* order: 1;*/
    /*}*/
    /*.interests-container {*/
    /*    order: 3;*/
    /*}*/
    /*.contact-info-container {*/
    /*    order: 4;*/
    /*}*/
}

@media only screen and (max-width: 600px) {
    main {
        padding: 0 1em;
    }

    .bio-container, .basic-info-container, .interests-container {
        padding: 1em 1em;
    }

    .basic-info.editable {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .basic-info-text-container > * {
        margin: 5px 0 5px 20px;
    }

    .basic-info-text-container .change-profile-button-container {
        display: flex;
        justify-content: center;
        margin: 15px 0 0 0;
    }

    .basic-info-container {
        padding: 2em 2em;
    }

    .profile-page-wrapper {
        max-width: 360px;
    }

    .basic-info-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .basic-info-container > div {
        width: 80%;
    }

    .basic-info-container .profile-picture-container {
        margin-bottom: 20px;
    }

}

@media only screen and (max-width: 400px) {
    .basic-info-container > div {
        width: 100%;
        margin-left: 10px;
    }
}