<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/about/about.css">
</head>
<body class="light-theme">
<header class="navbar">
    <div class="logo">
        <a href="">
            <img src="../img/corendon-logo.svg" alt="Logo">
        </a>
    </div>
    <nav class="nav-list" id="nav-list">
        <ul>
            <li><a href="../../index.html">Home</a></li>
            <li><a href="./about.html" class="active">About</a></li>
            <li><a href="./contact.html">Contact</a></li>
            <li class="dropdown-box">
                <div class="dropdown">
                    <button class="drop-btn">
                        <i class="fa fa-caret-down"></i>
                        <i class="fa fa-caret-up"></i>
                    </button>
                    <div class="dropdown-content" id="dropdown-content">
                        <a href="../views/auth/login.html">Inloggen</a>
                        <a href="#">Registreren</a>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
     <div class="theme-switch-box">
        <div class="switch">
            <div>
                <input type="checkbox" class="checkbox" id="checkbox">
                <label for="checkbox" class="label">
                    <i class="fas fa-sun"></i>
                    <i class="fas fa-moon"></i>
                    <span class="ball"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="burger-menu" id="toggle-btn">
        <div class="menu-line"></div>
        <div class="menu-line"></div>
        <div class="menu-line"></div>
    </div>
</header>

<main>
    <section class="hero">
        <div class="hero-intro">
            <div class="hero-text">
                <h1>About</h1>
                <p>Graag in contact komen met ons? We horen graag van u, zie verder op de pagina hoe u ons het beste kunt bereiken</p>
            </div>
        </div>
        <div class="hero-img">
            <img src="../svg/hero-svg-about.svg" alt="">
        </div>
    </section>

    <img src="../svg/blob.svg" class="blob" alt="blob">
    <section class="row-one row">
        <div class="left-box col">
            <div class="float-icon">
                <i class="fas fa-plane about-box-icons"></i>
            </div>
            <div class="content">
                <h2>Corendon.com: vliegtickets tegen de laagst mogelijke prijs!</h2>
                <div class="red-line"></div>
                <br>
                <p>U wilt een losse vlucht boeken, maar niet teveel betalen? Dan bent u bij Corendon.com aan het juiste adres! Bij ons boekt u een vliegticket tegen de laagst mogelijke prijs.</p>
            </div>
        </div>
        <div class="gap"></div>
        <div class="right-box col">
            <div class="float-icon">
                <i class="far fa-clock about-box-icons"></i>
            </div>
            <div class="content">
                <h2>Corendon.com: 24/7 bereikbaar</h2>
                <div class="content-text">
                    <div class="red-line"></div>
                    <br>
                    <p>U kunt bij ons op ieder gewenst tijdstip uw vliegticket eenvoudig en snel online boeken. U bent dus niet afhankelijk van openingstijden en boekt op een tijdstip dat u het beste uitkomt. Op www.corendon.com ervaart u het gemak van onze volledige en snelle boekingsservice!</p>
                </div>
            </div>
        </div>
    </section>

    <section class="row-two row">
        <div class="box">
            <div class="float-icon">
                <i class="fas fa-phone-alt about-box-icons"></i>
            </div>
            <div class="content">
                <h2>Telefonisch boeken?</h2>
                <div class="red-line"></div>
                <br>
                <p>Natuurlijk is telefonisch boeken ook mogelijk. Corendon.com heeft haar eigen reserveringssysteem. Dit zorgt ervoor dat onze ervaren medewerkers direct kunnen nakijken of het door u gewenste vliegticket beschikbaar is. Als een gewenste vertrekdatum niet (meer) boekbaar is, dan kunnen wij u direct via het systeem een alternatieve vertrekdatum bieden waarop het vliegticket wel beschikbaar is.</p>
                <br>
                <p>Onze enthousiaste en servicegerichte medewerkers zijn te bereiken op telefoonnummer +31(0)23 751 06 00</p>
            </div>
        </div>
    </section>

    <section class="row-three row">
        <div class="box">
            <div class="float-icon">
                <i class="fas fa-check about-box-icons"></i>
            </div>
            <div class="content">
                <h2>Facts</h2>
                <div class="red-line"></div>
                <br>
                <p>Corendon.com is onderdeel van Corendon International Travel BV. De onderneming is in 2000 opgericht in Haarlem, toen Atilay Uslu en zijn zakenpartner Yildiray Karaer besloten hun krachten te bundelen. Voor die tijd had de jonge ondernemer Uslu al zijn eerste stappen in de reisbranche gezet, maar het echte succes komt met de oprichting van Corendon. Het bedrijf begon als Turkije-specialist dat eerst alleen vliegtickets en later ook volledig verzorgde reizen naar Turkije verkocht. In 20 jaar tijd is Corendon uitgegroeid tot een toonaangevende, zeer succesvolle touroperator en dé nummer 1 reisorganisatie als het gaat om veel Turkse en andere populaire bestemmingen binnen en buiten Europa, zoals bijvoorbeeld <a href="https://www.corendon.nl/spanje/balearen/ibiza">ibiza</a>, <a href="https://www.corendon.nl/cyprus">Cyprus</a> en<a href="https://www.corendon.nl/curacao">Curaçao</a>.</p>
                <br>
                <p>Corendon staat sterk in de markt door de scherpe prijzen, het no-nonsense karakter en de grote ervaring in het inkopen van accommodaties. Hierdoor kan Corendon, in combinatie met de lage overhead kosten, de beste prijs-kwaliteitverhouding aanbieden als het om uw vakantie gaat.</p>
                <br>
                <p>Naast Corendon Vliegvakanties, Corendon Airlines, Corendon Dutch Airlines, Corendon Hotels & Resorts behoren ook Maris Life, Corendon Artiestenreizen, Corendon Groepsreizen,<a href="https://www.corendon.nl/gofun">GOfun jongerenreizen</a>, Karin’s Choice, <a href="https://www.corendon.nl/stipreizen">Stipreizen</a> tot Corendon. Waarbij het laatste label kleinschalige accommodaties aanbiedt voor de individueel ingestelde reiziger. Ook GoFun is onderdeel van Corendon en biedt de leukste vakanties aan voor jongeren.</p>
            </div>
        </div>
    </section>

    <section class="row-three row">
        <div class="left-box col">
            <div class="float-icon">
                <i class="fas fa-plane about-box-icons"></i>
            </div>
            <div class="content">
                <h2>CORENDON AIRLINES</h2>
                <div class="red-line"></div>
                <br>
                <p>Sinds 2005 heeft Corendon een eigen luchtvaartmaatschappij die jaarlijks ruim 2,5 miljoen passagiers vanuit 28 landen naar 143 luchthavens vliegt. De thuishaven van de luchtvaartmaatschappij is Antalya in Turkije en de code is XC. In 2011 is er een Nederlandse tak toegevoegd, Corendon Dutch Airlines (CD). De allereerste vlucht werd uitgevoerd op de oer-Hollandse dag 30 april (destijds Koninginnedag).</p>
                <br>
                <p>De luchtvaartmaatschappij beschikt over 16 vliegtuigen, waarvan de meeste van het type Boeing 737-800. Dit toestel beschikt over 189 comfortabele stoelen aan boord.</p>
            </div>
        </div>
        <div class="gap"></div>
        <div class="right-box col">
            <div class="float-icon">
                <i class="fas fa-trophy about-box-icons"></i>
            </div>
            <div class="content">
                <h2>ZOOVER AWARDS</h2>
                <div class="content-text">
                    <div class="red-line"></div>
                    <br>
                    <p>Corendon won in 2015 vijf Zoover-awards:</p>
                    <ul class="zoover-list">
                        <li><p>Populairste luchtvaartmaatschappij</p></li>
                        <li><p>Beste luchtvaartmaatschappij</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>

<footer></footer>

<script src="../js/menu.js"></script>
</body>
</html>
