<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="../css/contact/contact.css">
    <link rel="stylesheet" href="../css/chat/chat.css">
    <link rel="stylesheet" href="../css/navbar.css">
</head>
<body class="light-theme">
<header class="navbar">
    <progress class="scroll-progress" value="0" max="100"></progress>
    <div class="logo">
        <a href="">
            <img src="../img/corendon-logo.svg" alt="Logo">
        </a>
    </div>
    <nav class="nav-list" id="nav-list">
        <ul>
            <li><a href="../../index.html">Home</a></li>
            <li><a href="./about.html">About</a></li>
            <li><a href="./contact.html" class="active">Contact</a></li>
            <li class="dropdown-box">
                <div class="dropdown">
                    <button class="drop-btn">
                        <i class="fa fa-caret-down"></i>
                        <i class="fa fa-caret-up"></i>
                    </button>
                    <div class="dropdown-content" id="dropdown-content">
                        <a href="../views/auth/login.html">Inloggen</a>
                        <a href="#">Registreren</a>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
    <div class="theme-switch-box">
        <div class="switch">
            <div>
                <input type="checkbox" class="checkbox" id="checkbox">
                <label for="checkbox" class="label">
                    <i class="fas fa-sun"></i>
                    <i class="fas fa-moon"></i>
                </label>
                <div class="ball"></div>
            </div>
        </div>
    </div>
    <div class="burger-menu" id="toggle-btn">
        <div class="menu-line"></div>
        <div class="menu-line"></div>
        <div class="menu-line"></div>
    </div>
</header>
<main>
    <section class="hero">
        <div class="hero-intro">
            <div class="hero-text">
                <h1>Contact</h1>
                <p>Graag in contact komen met ons? We horen graag van u, zie verder op de pagina hoe u ons het beste kunt bereiken</p>
            </div>
            <div class="cta-box">
                <a href="" class="cta-button">Register</a>
            </div>
        </div>
        <div class="hero-img">
            <object data="../svg/contact-hero.svg" type="image/svg+xml"></object>
        </div>
    </section>

    <object data="../svg/blob.svg" type="image/svg+xml" class="blob"></object>

    <section class="row-one row">
        <div class="left-box col">
            <div class="float-icon">
                <i class="fas fa-phone-alt contact-box-icons"></i>
            </div>
            <div class="content">
                <h2>Telefonisch contact</h2>
                <div class="red-line"></div>
                <br>
                <p>Onze ervaren, enthousiaste en professionele reisadviseurs helpen u graag met het vinden van uw vakantie! U kunt 7 dagen per week telefonisch contact met ons opnemen via <b>023 7510606</b></p>
                <br>
                <ul class="contact-list">
                    <li>
                        <p>Vanuit het buitenland bereikt u ons via +31 237510606</p>
                    </li>
                    <li>
                        <p>Maandag t/m vrijdag: 09.00 - 21.00 uur</p>
                    </li>
                    <li>
                        <p>Zaterdag: 09.00 - 18.00 uur</p>
                    </li>
                    <li>
                        <p>Zondag: 10.00 - 18.00 uur</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="gap"></div>
        <div class="right-box col">
            <div class="float-icon">
                <i class="fas fa-hashtag contact-box-icons"></i>
            </div>
            <div class="content">
                <h2>Social Media</h2>
                <div class="content-text">
                    <div class="red-line"></div>
                    <br>
                    <p>Ook de medewerkers van het webcare team zijn u graag van dienst. Via <a href="https://www.facebook.com/Corendon.nl/">Facebook</a>,
                        <a href="https://twitter.com/corendon">Twitter</a> en <a href="https://www.instagram.com/corendon/">Instagram</a> staan zij 7 dagen per week voor u klaar om al uw vragen te beantwoorden. </p>
                    <br>
                    <ul class="contact-list">
                        <li>
                            <p>Van maandag tot en met vrijdag van 09.00 tot 18.00 uur.</p>
                        </li>
                        <li>
                            <p>Op zaterdag van 09.00 tot 18.00 uur</p>
                        </li>
                        <li>
                            <p>op zondag van 10.00 tot 18.00 uur</p>
                        </li>
                        <li>
                            <p>Via Facebook krijgt u binnen 24 uur een reactie</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="row-two row">
        <div class="left-box col">
            <div class="float-icon">
                <i class="fas fa-users contact-box-icons"></i>
            </div>
            <div class="content">
                <h2>Corendon Groepsreizen & Incentives</h2>
                <div class="red-line"></div>
                <br>
                <p>Het ervaren team van Corendon Groepsreizen regelt alle denkbare personeelsuitjes, groeps-, incentive- en congresreizen. De vakkundige, inventieve en bereisde medewerkers staan u graag te woord.</p>
                <br>
                <p>Corendon Groepsreizen is 5 dagen per week bereikbaar op <br><b>+31 (0)23 5307583</b></p>
                <br>
                <p>Maandag t/m vrijdag: 09.00 - 18.00 uur E-mail: <a href="mailto:group@corendon.nl">group@corendon.nl</a></p>
            </div>
        </div>
        <div class="gap"></div>
        <div class="right-box col">
            <div class="float-icon">
                <i class="fas fa-location-arrow contact-box-icons"></i>
            </div>
            <div class="content">
                <h2>GOfun jongerenvakanties</h2>
                <div class="content-text">
                    <div class="red-line"></div>
                    <br>
                    <p>Het GOfun reserveringsteam is er helemaal klaar voor om samen met jou de vakantie van je leven te boeken!</p>
                    <br>
                    <ul class="contact-list">
                        <li>
                            <p>Maandag t/m vrijdag: 09.00 - 18.00 uur</p>
                        </li>
                        <li>
                            <p>Zaterdag: 09.00 - 18.00 uur</p>
                        </li>
                        <li>
                            <p>Zondag: 10.00 - 18.00 uur</p>
                        </li>
                        <li>
                            <p>E-mail: <a href="mailto:info@gofun.nl">info@gofun.nl</a></p>
                        </li>
                        <li>
                            <p>Telefoonnummer GOfun: <b>+31 (0)23 7510 610</b></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <section class="row-three row">
        <div class="box">
            <div class="float-icon">
                <i class="fas fa-headset contact-box-icons"></i>
            </div>
            <div class="content">
                <h2>Corendon servicebalie op Brussel Zaventem</h2>
                <div class="red-line"></div>
                <br>
                <p>Bij de Corendon servicebalie op de luchthaven Brussel Zaventem kunt u terecht met vragen / opmerkingen voor aanvang van uw vlucht. Indien afgesproken heeft u hier ook de mogelijkheid om uw vliegtickets af te halen.</p>
                <br>
                <p>De servicebalie op Brussel Zaventem vindt u in vertrekhal 1 (rij 11) en is geopend van maandag t/m vrijdag: 09.00 - 17.00 uur.</p>
                <br>
                <p>Bij de balie kunt u geen reizen boeken.</p>
            </div>
        </div>
    </section>

    <section class="row-four row">
        <div class="box">
            <div class="float-icon">
                <i class="fas fa-user-friends contact-box-icons"></i>
            </div>
            <div class="content">
                <h2>Cliëntenservice</h2>
                <div class="red-line"></div>
                <br>
                <p>De afdeling Cliëntenservice is 5 dagen per week telefonisch bereikbaar op +31 (0)23 5307596. Maandag t/m vrijdag: van 10.00-17.00 uur</p>
                <br>
                <p>Voor bezwaren en problemen verwijzen wij u naar <a href="https:\\www.corendon.nl/klachtenafhandeling">corendon.nl/klachtenafhandeling</a>. Klachten dienen uiterlijk binnen 2 maanden na terugkomst schriftelijk ingediend te worden. Vermeld altijd uw 7-cijferig reserveringsnummer.</p>
                <br>
                <p>Wanneer u heeft gereserveerd bij een reisbureau verzoeken wij u vriendelijk contact op te nemen met het desbetreffende reisbureau voor de afhandeling van uw klacht.</p>
            </div>
        </div>
    </section>

    <section class="row-five row">
        <div class="left-box col">
            <div class="float-icon">
                <i class="fas fa-bullhorn contact-box-icons"></i>
            </div>
            <div class="content">
                <h2>Sales & Marketing</h2>
                <div class="red-line"></div>
                <br>
                <p>De medewerkers van Sales & Marketing zijn bereikbaar via: <a href="mailto:sales@corendon.nl">sales@corendon.nl</a></p>
                <br>
                <p>Online Marketing <br> De medewerkers van Online Marketing zijn bereikbaar via: <a href="mailto:aftersales@corendon.nl">aftersales@corendon.nl</a></p>
            </div>
        </div>
        <div class="gap"></div>
        <div class="right-box col">
            <div class="float-icon">
                <i class="fas fa-book contact-box-icons"></i>
            </div>
            <div class="content">
                <h2>Administratie</h2>
                <div class="content-text">
                    <div class="red-line"></div>
                    <br>
                    <p>Voor vragen over de betaling van uw vakantie belt u  <b>+31 (0)23 7510690</b></p>
                    <br>
                    <p>Maandag t/m vrijdag 09.00 - 18.00 uur <br>E-mail: <a href="mailto:administratie@corendon.nl">administratie@corendon.nl</a></p>
                </div>
            </div>
        </div>
    </section>

    <section class="row-six row">
        <div class="left-box col">
            <div class="float-icon">
                <i class="fas fa-microphone contact-box-icons"></i>
            </div>
            <div class="content">
                <h2>Persvoorlichter</h2>
                <div class="red-line"></div>
                <br>
                <p>Newsroom; blijf op de hoogte van al het Corendon nieuws</p>
                <br>
                <p>Wilt u in contact komen met onze persvoorlichter. Stuurt u dan een mail naar pers@corendon.nl <a href="mailto:Lpers@corendon.nl">pers@corendon.nl</a></p>
            </div>
        </div>
        <div class="gap"></div>
        <div class="right-box col">
            <div class="float-icon">
                <i class="fas fa-globe contact-box-icons"></i>
            </div>
            <div class="content">
                <h2>HR</h2>
                <div class="content-text">
                    <div class="red-line"></div>
                    <br>
                    <p>Vacatures van Corendon kun je vinden op <a href="https:\\www.werkenbijcorendon.nl">www.werkenbijcorendon.nl</a></p>
                    <br>
                    <p>Wanneer je een vraag hebt over een vacature kun je ons mailen via <a href="mailto:vacature@corendon.nl">vacature@corendon.nl</a></p>
                </div>
            </div>
        </div>
    </section>

    <section class="row-seven row">
        <div class="left-box col">
            <div class="float-icon">
                <i class="fas fa-briefcase contact-box-icons"></i>
            </div>
            <div class="content">
                <h2>Boekhouding</h2>
                <div class="red-line"></div>
                <br>
                <p>De afdeling boekhouding is bereikbaar op <b>+31 (0)23 5307590</b></p>
                <br>
                <p>Maandag t/m vrijdag 09.00 - 18.00 uur</p>
            </div>
        </div>
        <div class="gap"></div>
        <div class="right-box col invisible-box"></div>
    </section>

    <div class="chat-modal" id="main-chat-box">
        <div class="chat-box">
            <div class="chat-header">
                <div class="profile-img">
                    <i class="fas fa-chevron-left back-btn-chat"></i>
                </div>
                <div class="close-btn-box">
                    <button class="close-chat" id="close-chat">
                        <i class="fas fa-times-circle close-icon"></i>
                    </button>
                </div>
            </div>
            <div class="chat-content">
                <ul class="messages right-chat"></ul>
            </div>
            <div class="chat-footer">
                <form class="chat-form">
                    <div class="input-box">
                        <input type="text" class="chat-input" placeholder="Verstuur bericht...">
                    </div>
                    <div class="btn-box">
                        <button class="send-msg-btn" type="submit"><i class="fas fa-arrow-circle-right form-box-icon"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <button id="chat-btn" class="chat-btn"><i class="far fa-comment chat-icon"></i></button>
</main>

<footer></footer>

<script src="../js/menu.js"></script>
<script src="../js/chat.js"></script>
</body>
</html>
