<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/Matches/matches.css">
    <link rel="stylesheet" href="../css/chat/chat.css">

</head>
<body class="light-theme">
<header class="navbar">
    <div class="logo">
        <a href="">
            <img src="../img/corendon-logo.svg" alt="Logo">
        </a>
    </div>
    <nav class="nav-list" id="nav-list">
        <ul>
            <li><a href="../../index.html">Home</a></li>
            <li><a href="./about.html">About</a></li>
            <li><a href="./contact.html">Contact</a></li>
            <li><a href="./Matches.html" class="active">Matches</a></li>
            <li class="dropdown-box">
                <div class="dropdown">
                    <button class="drop-btn">
                        <i class="fa fa-caret-down"></i>
                        <i class="fa fa-caret-up"></i>
                    </button>
                    <div class="dropdown-content" id="dropdown-content">
                        <a href="../views/auth/login.html">Inloggen</a>
                        <a href="../views/auth/register.html">Registreren</a>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
    <div class="theme-switch-box">
        <label class="switch">
            <div>
                <input type="checkbox" class="checkbox" id="checkbox">
                <label for="checkbox" class="label">
                    <i class="fas fa-sun"></i>
                    <i class="fas fa-moon"></i>
                    <div class="ball"></div>
                </label>
            </div>
        </label>
    </div>
    <div class="burger-menu" id="toggle-btn">
        <div class="menu-line"></div>
        <div class="menu-line"></div>
        <div class="menu-line"></div>
    </div>
</header>

<img class="blobimg" src="../img/blob.png" alt="">


<main>
    <div class="matchesHeader">
        <h2> Matches</h2>
        <h3>gebaseerd op uw interesses</h3>
    </div>

    <section class="skills">
        <!-- Eerste rij -->
        <div class="flex-grid">

            <div class="col">
                <div class="card">
                    <div class="card-img">
                        <img src="../img/default-avatar.png" alt=""/>
                        <p class="personName">Henk Krol</p>
                        <p class="personPlace">Amsterdam</p>
                    </div>
                    <div class="content">

                    </div>
                    <div class="footer">
                        <button type="submit" class="show-more-btn"
                                onClick="javascript:window.location.href='../../profile-overview.html'">Meer zien
                        </button>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-img">
                        <img src="../img/default-avatar.png" alt=""/>
                        <p class="personName">Henk Krol</p>
                        <p class="personPlace">Amsterdam</p>
                    </div>
                    <div class="content">

                    </div>
                    <div class="footer">
                        <button type="submit" class="show-more-btn"
                                onClick="javascript:window.location.href='../../profile-overview.html'">Meer zien
                        </button>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-img">
                        <img src="../img/default-avatar.png" alt=""/>
                        <p class="personName">Henk Krol</p>
                        <p class="personPlace">Amsterdam</p>
                    </div>
                    <div class="content">

                    </div>
                    <div class="footer">
                        <button type="submit" class="show-more-btn"
                                onClick="javascript:window.location.href='../../profile-overview.html'">Meer zien
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!--Filters-->
        <div class="filter">
            <div class="entry-section">
                <div class="textBox">
                    <p class="bannertext">Vind jouw </p>

                    <p class="bannertext2">Reispartner!</p>
                    <p class="bannertext3">Vind jouw match door te zoeken met je eigen gekozen filters.</p>
                    <p class="bannertext3"> Wij zetten de beste matches bovenaan.</p>
                </div>


            </div>
            <div class="filter-card">
                <div class="toegepastefiltersText">Toegepaste filter(s):</div>
                <div class="toegepaste-filters">
                    <div class="gekozenradius">
                        <p class="filterOption">0-30</p>
                        <img class="close" src="../img/close.png" alt=" "/>
                    </div>
                    <div class="gekozengeslacht">
                        <p class="filterOption">Man</p>
                        <img class="close" src="../img/close.png" alt=" "/>
                    </div>
                    <div class="gekozengeslacht">
                        <p class="filterOption">Man</p>
                        <img class="close" src="../img/close.png" alt=" "/>
                    </div>
                    <div class="gekozengeslacht">
                        <p class="filterOption">Man</p>
                        <img class="close" src="../img/close.png" alt=" "/>
                    </div>
                    <div class="gekozengeslacht">
                        <p class="filterOption">Man</p>
                        <img class="close" src="../img/close.png" alt=" "/>
                    </div>
                </div>
            </div>
        </div>

        <!--Filters onder de banner-->
        <div class="filtermenu">
            <div class="interessesfilter">
                <p>Interesses</p>
                <div class="endSection">
                    <p>Alle</p>
                    <img class="pullDown" src="../img/arrow_down.svg" alt=" "/>
                </div>
            </div>
            <div class="leeftijdsgroepfilter">
                <p>Leeftijdsgroep</p>
                <div class="endSection">
                    <p>Alle</p>
                    <img class="pullDown" src="../img/arrow_down.svg" alt=" "/>
                </div>
            </div>
            <div class="geslachtfilter">
                <p>Geslacht</p>
                <div class="endSection">
                    <p>Man</p>
                    <img class="pullDown" src="../img/arrow_down.svg" alt=" "/>
                </div>
            </div>
            <div class="radiusfilter">
                <p>Radius (km)</p>
                <div class="endSection">
                    <p >0-30</p>
                    <img class="pullDown" src="../img/arrow_down.svg" alt=" "/>
                </div>
            </div>
            <div class="gewenstebestemmingenfilter">
                <p>Gewenste bestemmingen</p>
                <div class="endSection">
                    <p >Alle</p>
                    <img class="pullDown" src="../img/arrow_down.svg" alt=" "/>
                </div>

            </div>
            <div class="gebruikerzoekenfilter">
                <p>Gebruiker zoeken</p>
                <div class="endSection">
                    <input type="text" id="username" name="fname"><br><br>
                    <img class="search" src="../img/search.png" alt=" "/>
                </div>
            </div>
        </div>
        <!-- Tweede rij -->
        <div class="flex-grid">

            <div class="col">
                <div class="card">
                    <div class="card-img">
                        <img src="../img/default-avatar.png" alt=""/>
                        <p class="personName">Henk Krol</p>
                        <p class="personPlace">Amsterdam</p>
                    </div>
                    <div class="content">

                    </div>
                    <div class="footer">
                        <button type="submit" class="show-more-btn"
                                onClick="javascript:window.location.href='../../profile-overview.html'">Meer zien
                        </button>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-img">
                        <img src="../img/default-avatar.png" alt=""/>
                        <p class="personName">Henk Krol</p>
                        <p class="personPlace">Amsterdam</p>
                    </div>
                    <div class="content">

                    </div>
                    <div class="footer">
                        <button type="submit" class="show-more-btn"
                                onClick="javascript:window.location.href='../../profile-overview.html'">Meer zien
                        </button>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-img">
                        <img src="../img/default-avatar.png" alt=""/>
                        <p class="personName">Henk Krol</p>
                        <p class="personPlace">Amsterdam</p>
                    </div>
                    <div class="content">

                    </div>
                    <div class="footer">
                        <button type="submit" class="show-more-btn"
                                onClick="javascript:window.location.href='../../profile-overview.html'">Meer zien
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <div class="matches-page-navigation">
            <div class="resultaten">
                <div>84 resultaten weergegeven</div>
            </div>
            <div class="pagination">
                <div class="pagination-box">
                    <div>1</div>
                </div>
                <div class="pagination-box">
                    <div>2</div>
                </div>
                <div class="pagination-box">
                    <div>...</div>
                </div>
                <div class="pagination-box">
                    <div>9</div>
                </div>
                <div class="pagination-box">
                    <div>10</div>
                </div>
                <div class="arrow-right-box">
                    <img class="arrow-right" src="../img/arrow-right.png" alt=""/>
                </div>
            </div>
        </div>
    </section>
    <div class="chat-modal" id="main-chat-box">
        <div class="chat-box">
            <div class="chat-header">
                <div class="profile-img">
                    <img src="https://ui-avatars.com/api/?name=John+Doe?background=random" alt="Profile Photo">
                </div>
                <div class="close-btn-box">
                    <button class="close-chat close-btn">
                        <i class="fas fa-times-circle close-icon"></i>
                    </button>
                </div>
            </div>
            <div class="chat-contacts">
                <ul>
                    <li class="message-list-item">
                        <div class="message-overview">
                            <div class="message-overview-img">
                                <img src="https://ui-avatars.com/api/?name=John+Doe?background=random"
                                     alt="Message img">
                                <div class="notification">
                                    <p>2</p>
                                </div>
                            </div>
                            <div class="message-overview-text">
                                <div class="messages-overview-name">
                                    <h3>Jane Doe</h3>
                                </div>
                                <div class="messages-text">
                                    <p>Lorem ipsum dolor...</p>
                                    <p class="messages-time">20:57 07/10/21</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="message-list-item">
                        <div class="message-overview">
                            <div class="message-overview-img">
                                <img src="https://ui-avatars.com/api/?name=John+Doe?background=random"
                                     alt="Message img">
                                <div class="notification">
                                    <p>2</p>
                                </div>
                            </div>
                            <div class="message-overview-text">
                                <div class="messages-overview-name">
                                    <h3>Jane Doe</h3>
                                </div>
                                <div class="messages-text">
                                    <p>Lorem ipsum dolor...</p>
                                    <p class="messages-time">20:57 07/10/21</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="message-list-item">
                        <div class="message-overview">
                            <div class="message-overview-img">
                                <img src="https://ui-avatars.com/api/?name=John+Doe?background=random"
                                     alt="Message img">
                            </div>
                            <div class="message-overview-text">
                                <div class="messages-overview-name">
                                    <h3>Jane Doe</h3>
                                </div>
                                <div class="messages-text">
                                    <p>Lorem ipsum dolor...</p>
                                    <p class="messages-time">20:57 07/10/21</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="chat-modal detail-chat-box" id="detail-chat-box">
        <div class="chat-box">
            <div class="chat-header">
                <div class="back-btn-box">
                    <i class="fas fa-chevron-left back-btn-chat"></i>
                </div>
                <div class="detail-person-header">
                    <img src="https://ui-avatars.com/api/?name=John+Doe?background=random" alt="Message img">
                    <p>John doe</p>
                </div>
                <div class="close-btn-box">
                    <button class="close-detail-chat close-btn">
                        <i class="fas fa-times-circle close-icon"></i>
                    </button>
                </div>
            </div>
            <div class="chat-content">
                <ul class="messages right-chat"></ul>
            </div>
            <div class="chat-footer">
                <form class="chat-form">
                    <div class="input-box">
                        <input type="text" class="chat-input" placeholder="Verstuur bericht...">
                    </div>
                    <div class="btn-box">
                        <button class="send-msg-btn" type="submit"><i
                                class="fas fa-arrow-circle-right form-box-icon"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <button id="chat-btn" class="chat-btn"><i class="far fa-comment chat-icon"></i></button>
</main>

<footer>
    <div class="footer-nav">
        <div class="left-footer-nav">
            <nav>
                <a href="../../index.html">Home</a>
                <a href="./about.html">Over Ons</a>
                <a href="./auth/login.html">login</a>
                <a href="../../faq.html">FAQ</a>
            </nav>
        </div>
        <div class="right-footer-nav">
            <nav>
                <a href="https://www.youtube.com/user/corendon"><img src="../svg/Youtube.svg" alt=""/></a>
                <a href="https://twitter.com/corendon"><img src="../svg/twitter-black.svg" alt=""/></a>
                <a href="https://vimeo.com/corendonairlines"><img src="../svg/vimeo-black.svg" alt=""/></a>
                <a href="https://www.facebook.com/Corendon.nl/"><img src="../svg/facebook-black.svg" alt=""/></a>
            </nav>
        </div>
    </div>
    <div class="gray-footer-line"></div>
    <div class="footer-text-box">
        <div class="footer-copyright">
            <span>© 2021 Team Quatro. All rights reserved.</span>
        </div>
        <div class="footer-privacy-nav">
            <nav>
                <a href="../../AV_Corendon_NL_20200108.pdf">Terms of service </a>
                <a href="../../Corendon-Privacy-Verklaring-NL.pdf">Privacy Policy</a>
            </nav>
        </div>
    </div>
    <div class="footer-image">
        <img src="../svg/corendon-logo%203.svg" alt=""/>
    </div>
</footer>
<script src="../js/chat.js"></script>

<script src="../js/menu.js"></script>
</body>
</html>