<div class="chat-component">
    <div class="chat-modal" id="main-chat-box">
        <div class="chat-box">
            <div class="chat-header">
                <div class="profile-img">
                    <img src="" class="profile-photo" alt="Profile Photo">
                </div>
                <h2 class="chat-header-title">Contacten</h2> 
                <div class="close-btn-box">
                    <button class="close-chat close-btn">
                        <i class="fas fa-times-circle close-icon"></i>
                    </button>
                </div>
            </div>
            <div class="chat-contacts">
                <div class="chat-tabs">
                    <div class="contacts-tab">
                        <button type="button" class="chat-tabs-btn contacts-btn">Contacten</button>
                    </div>
                    <div class="requests-tab">
                        <button type="button" class="chat-tabs-btn requests-btn">Verzoeken</button>
                    </div>
                </div>

                <!-- template for chat/messages between the users -->
                <template id="chat-template">
                    <li class="message-list-item">
                        <div class="message-overview">
                            <div class="message-overview-img">
                                <img src="" class="message-profile-pic" alt="Message img">
                            </div>
                            <div class="message-overview-text">
                                <div class="messages-overview-name">
                                    <h3 class="chat-title"></h3>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown contact-option">
                            <button class="chat-options-drop-btn">
                                <i class="fas fa-ellipsis-h"></i>
                            </button>
                            <div class="contact-dropdown-content" id="chat-dropdown-options">
                                <button type="button" class="block-btn" id="block-btn">Block</button>
                            </div>
                        </div>
                    </li>
                </template>

                <!-- list for chat/messages between the users -->
                <ul class="chat-list"></ul>

                <!-- template for blocked users -->
                <template id="blocked-user-template">
                    <li class="requests-list-item">
                        <div class="message-overview">
                            <div class="message-overview-img">
                                <img src="" class="request-profile-pic" alt="Blocked profile img">
                            </div>
                            <div class="message-overview-text">
                                <div class="messages-overview-name">
                                    <h3 class="request-title"></h3>
                                </div>
                            </div>
                            <div class="blocked-user-box">
                                <p>Blocked</p>
                            </div> 
                        </div>   
                        <div class="unblock-box">
                            <button type="button" class="unblock-btn">Unblock</button>
                        </div>
                    </li>
                </template>

                <!-- list for blocked users -->
                <ul class="blocked-list"></ul>

                <!-- template for match requests -->
                <template id="requests-template">
                    <li class="requests-list-item">
                        <div class="message-overview">
                            <div class="message-overview-img">
                                <img src="" class="request-profile-pic" alt="Request profile img">
                            </div>
                            <div class="message-overview-text">
                                <div class="messages-overview-name">
                                    <h3 class="request-title"></h3>
                                </div>
                            </div>
                            <div class="request-options">
                                <button type="button" class="accept-request-btn">
                                    <i class="fas fa-check"></i>
                                </button>    
                                <button type="button" class="decline-request-btn">
                                    <i class="fas fa-times"></i>
                                </button>    
                            </div>
                        </div>                       
                    </li>
                </template>

                <!-- list for match requests -->
                <ul class="requests-list"></ul>
            </div>
        </div>
    </div>

    <div class="chat-modal detail-chat-box" id="detail-chat-box">
        <div class="chat-box">
            <div class="chat-header">
                <div class="back-btn-box">
                    <i class="fas fa-chevron-left back-btn-chat"></i>
                </div>
                <div class="detail-person-header">
                    <img src="" class="detail-chat-photo" alt="Message img">
                    <p class="detail-chat-header"></p>
                </div>
                <div class="close-btn-box">
                    <button class="close-detail-chat close-btn">
                        <i class="fas fa-times-circle close-icon"></i>
                    </button>
                </div>
            </div>
            <div class=""></div>
            <div class="error-box"><span class="error-msg"></span></div>
            <div class="chat-content">
                <template id="message-template">
                    <li>
                        <b class="messages-username"></b>
                        <p class="messages-message"></p>
                        <br>
                        <p class="messages-time"></p>
                    </li>
                </template>
                <div class="loading-box">
                    <div class="loading-circle circle-1"></div>
                    <div class="loading-circle circle-2"></div>
                    <div class="loading-circle circle-3"></div>
                </div>
                <ul class="messages-list"></ul>
            </div>
            <div class="chat-footer">
                <form class="chat-form" name="chat-form">
                    <div class="input-box">
                        <input type="text" name="msg-input" class="chat-input" placeholder="Verstuur bericht...">
                        <input type="hidden" name="hidden-id">
                    </div>
                    <div class="btn-box">
                        <button class="send-msg-btn" type="submit"><i class="fas fa-arrow-circle-right form-box-icon"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
