<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/about/about.css">
    <link rel="stylesheet" href="../css/chat/chat.css">
</head>
<body class="light-theme">
    <header class="navbar">
        <div class="logo">
            <a href="">
                <img src="../img/corendon-logo.svg" alt="Logo">
            </a>
        </div>
        <nav class="nav-list" id="nav-list">
            <ul>
                <li><a href="../../index.html">Home</a></li>
                <li><a href="./about.html" class="active">About</a></li>
                <li><a href="./contact.html">Contact</a></li>
                <li><a href="./matches.html" class="matches-link">Matches</a></li>
                <li>
                    <div class="lang-changer-input">
                        <select id="langSelecter" onchange="checklang()">
                            <option value="de">Deutsch</option>
                            <option value="en">English</option>
                            <option value="nl" selected>Nederlands</option>
                        </select>
                    </div>
                </li>
    
                <li class="dropdown-box">
                    <div class="dropdown">
                        <button class="drop-btn">
                            <i class="fa fa-caret-down"></i>
                            <i class="fa fa-caret-up"></i>
                        </button>
                        <div class="dropdown-content" id="dropdown-content">
                            <a href="./auth/login.html" class="inlog-btn">Inloggen</a>
                            <a href="./auth/register.html" class="registreer-btn">Registreren</a>
                            <a href="" class="logout-btn">Uitloggen</a>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    
        <div class="profile-button">
            <a href="../views/profile.html">
                <img id="header-profile-img" src="../img/default-avatar.png" alt="">
            </a>
        </div>
    
        <div class="theme-switch-box">
            <div class="switch">
                <div>
                    <input type="checkbox" class="checkbox" id="checkbox">
                    <label for="checkbox" class="label">
                        <i class="fas fa-sun"></i>
                        <i class="fas fa-moon"></i>
                        <span class="ball"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="burger-menu" id="toggle-btn">
            <div class="menu-line"></div>
            <div class="menu-line"></div>
            <div class="menu-line"></div>
        </div>
    </header>
    

<main>
    <section class="hero">
        <div class="hero-intro">
            <div class="hero-text">
                <h1 id="title">About</h1>
                <p id="opening">Graag in contact komen met ons? We horen graag van u, zie verder op de pagina hoe u ons
                    het beste kunt bereiken</p>
            </div>
        </div>
        <div class="hero-img">
            <img src="../svg/hero-svg-about.svg" alt="">
        </div>
    </section>

    <svg class="blob" width="1020" height="888" viewBox="0 0 1020 888" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path class="blob-path"
              d="M112.825 257.545C175.927 185.808 301.815 279.725 483.268 239.889C640.427 205.369 648.971 111.489 774.717 116.819C866.585 120.696 966.955 173.656 1022.46 265.281C1083.66 366.306 1062.17 468.708 1056.11 493.552C1029.08 604.989 947.382 663.412 918.557 683.361C799.794 765.501 665.944 750.279 601.73 743.009C360.522 715.62 101.516 544.113 89.0232 359.09C87.3648 334.867 84.342 289.94 112.825 257.545Z"
              fill="url(#paint0_linear)"/>
        <defs>
            <linearGradient id="paint0_linear" x1="716.17" y1="-32.1177" x2="476.536" y2="687.902"
                            gradientUnits="userSpaceOnUse">
                <stop stop-color="#D81E05" stop-opacity="0.25"/>
                <stop offset="0.477083" stop-color="#D81E05" stop-opacity="0.25"/>
            </linearGradient>
        </defs>
    </svg>

    <section class="row-one row">
        <div class="left-box col">
            <div class="float-icon">
                <i class="fas fa-plane about-box-icons"></i>
            </div>
            <div class="content">
                <h2 id="content-title-1">Corendon.com: vliegtickets tegen de laagst mogelijke prijs!</h2>
                <div class="red-line"></div>
                <br>
                <p id="content-1">U wilt een losse vlucht boeken, maar niet teveel betalen? Dan bent u bij Corendon.com
                    aan het juiste adres! Bij ons boekt u een vliegticket tegen de laagst mogelijke prijs.</p>
            </div>
        </div>
        <div class="gap"></div>
        <div class="right-box col">
            <div class="float-icon">
                <i class="far fa-clock about-box-icons"></i>
            </div>
            <div class="content">
                <h2 id="content-title-2">Corendon.com: 24/7 bereikbaar</h2>
                <div class="content-text">
                    <div class="red-line"></div>
                    <br>
                    <p id="content-2">U kunt bij ons op ieder gewenst tijdstip uw vliegticket eenvoudig en snel online
                        boeken. U bent dus niet afhankelijk van openingstijden en boekt op een tijdstip dat u het beste
                        uitkomt. Op www.corendon.com ervaart u het gemak van onze volledige en snelle
                        boekingsservice!</p>
                </div>
            </div>
        </div>
    </section>

    <section class="row-two row">
        <div class="box">
            <div class="float-icon">
                <i class="fas fa-phone-alt about-box-icons"></i>
            </div>
            <div class="content">
                <h2 id="content-title-3">Telefonisch boeken?</h2>
                <div class="red-line"></div>
                <br>
                <p id="content-3-1">Natuurlijk is telefonisch boeken ook mogelijk. Corendon.com heeft haar eigen
                    reserveringssysteem. Dit zorgt ervoor dat onze ervaren medewerkers direct kunnen nakijken of het
                    door u gewenste vliegticket beschikbaar is. Als een gewenste vertrekdatum niet (meer) boekbaar is,
                    dan kunnen wij u direct via het systeem een alternatieve vertrekdatum bieden waarop het vliegticket
                    wel beschikbaar is.</p>
                <br>
                <p id="content-3-2">Onze enthousiaste en servicegerichte medewerkers zijn te bereiken op telefoonnummer
                    +31(0)23 751 06 00</p>
            </div>
        </div>
    </section>

    <section class="row-three row">
        <div class="box">
            <div class="float-icon">
                <i class="fas fa-check about-box-icons"></i>
            </div>
            <div class="content">
                <h2 id="content-title-4">Facts</h2>
                <div class="red-line"></div>
                <br>
                <p id="content-4-1">Corendon.com is onderdeel van Corendon International Travel BV. De onderneming is in
                    2000 opgericht in Haarlem, toen Atilay Uslu en zijn zakenpartner Yildiray Karaer besloten hun
                    krachten te bundelen. Voor die tijd had de jonge ondernemer Uslu al zijn eerste stappen in de
                    reisbranche gezet, maar het echte succes komt met de oprichting van Corendon. Het bedrijf begon als
                    Turkije-specialist dat eerst alleen vliegtickets en later ook volledig verzorgde reizen naar Turkije
                    verkocht. In 20 jaar tijd is Corendon uitgegroeid tot een toonaangevende, zeer succesvolle
                    touroperator en dé nummer 1 reisorganisatie als het gaat om veel Turkse en andere populaire
                    bestemmingen binnen en buiten Europa, zoals bijvoorbeeld <a
                            href="https://www.corendon.nl/spanje/balearen/ibiza">ibiza</a>, <a
                            href="https://www.corendon.nl/cyprus">Cyprus</a> en<a
                            href="https://www.corendon.nl/curacao">Curaçao</a>.</p>
                <br>
                <p id="content-4-2">Corendon staat sterk in de markt door de scherpe prijzen, het no-nonsense karakter
                    en de grote ervaring in het inkopen van accommodaties. Hierdoor kan Corendon, in combinatie met de
                    lage overhead kosten, de beste prijs-kwaliteitverhouding aanbieden als het om uw vakantie gaat.</p>
                <br>
                <p id="content-4-3">Naast Corendon Vliegvakanties, Corendon Airlines, Corendon Dutch Airlines, Corendon
                    Hotels & Resorts behoren ook Maris Life, Corendon Artiestenreizen, Corendon Groepsreizen,<a
                            href="https://www.corendon.nl/gofun">GOfun jongerenreizen</a>, Karin’s Choice, <a
                            href="https://www.corendon.nl/stipreizen">Stipreizen</a> tot Corendon. Waarbij het laatste
                    label kleinschalige accommodaties aanbiedt voor de individueel ingestelde reiziger. Ook GoFun is
                    onderdeel van Corendon en biedt de leukste vakanties aan voor jongeren.</p>
            </div>
        </div>
    </section>

    <section class="row-three row">
        <div class="left-box col">
            <div class="float-icon">
                <i class="fas fa-plane about-box-icons"></i>
            </div>
            <div class="content">
                <h2 id="content-title-5">CORENDON AIRLINES</h2>
                <div class="red-line"></div>
                <br>
                <p id="content-5-1">Sinds 2005 heeft Corendon een eigen luchtvaartmaatschappij die jaarlijks ruim 2,5
                    miljoen passagiers vanuit 28 landen naar 143 luchthavens vliegt. De thuishaven van de
                    luchtvaartmaatschappij is Antalya in Turkije en de code is XC. In 2011 is er een Nederlandse tak
                    toegevoegd, Corendon Dutch Airlines (CD). De allereerste vlucht werd uitgevoerd op de oer-Hollandse
                    dag 30 april (destijds Koninginnedag).</p>
                <br>
                <p id="content-5-2">De luchtvaartmaatschappij beschikt over 16 vliegtuigen, waarvan de meeste van het
                    type Boeing 737-800. Dit toestel beschikt over 189 comfortabele stoelen aan boord.</p>
            </div>
        </div>
        <div class="gap"></div>
        <div class="right-box col">
            <div class="float-icon">
                <i class="fas fa-trophy about-box-icons"></i>
            </div>
            <div class="content">
                <h2 id="content-title-6">ZOOVER AWARDS</h2>
                <div class="content-text">
                    <div class="red-line"></div>
                    <br>
                    <p id="content-6-1">Corendon won in 2015 vijf Zoover-awards:</p>
                    <ul class="zoover-list">
                        <li><p id="content-6-2">Populairste luchtvaartmaatschappij</p></li>
                        <li><p id="content-6-3">Beste luchtvaartmaatschappij</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <button id="chat-btn" class="chat-btn"><i class="far fa-comment chat-icon"></i></button>
</main>


<footer>
    <div class="footer-nav">
        <div class="left-footer-nav">
            <nav>
                <a href="../../index.html">Home</a>
                <a href="./about.html">Over Ons</a>
                <a href="./auth/login.html" class="footer-login">login</a>
                <a href="./faq.html">FAQ</a>
            </nav>
        </div>
        <div class="right-footer-nav">
            <nav>
                <a href="https://www.youtube.com/user/corendon"><img src="../svg/Youtube.svg" alt=""/></a>
                <a href="https://twitter.com/corendon"><img src="../svg/twitter-black.svg" alt=""/></a>
                <a href="https://vimeo.com/corendonairlines"><img src="../svg/vimeo-black.svg" alt=""/></a>
                <a href="https://www.facebook.com/Corendon.nl/"><img src="../svg/facebook-black.svg" alt=""/></a>
            </nav>
        </div>
    </div>
    <div class="gray-footer-line"></div>
    <div class="footer-text-box">
        <div class="footer-copyright">
            <span>© 2021 Team Quatro. All rights reserved.</span>
        </div>
        <div class="footer-privacy-nav">
            <nav>
                <a href="../pdf/AV_Corendon_NL_20200108.pdf">Terms of service </a>
                <a href="../pdf/Corendon-Privacy-Verklaring-NL.pdf">Privacy Policy</a>
            </nav>
        </div>
    </div>
    <div class="footer-image">
        <img src="../svg/corendon-logo%203.svg" alt=""/>
    </div>
</footer>


   <!-- Javascript -->
   <script src="../js/html-include.js"></script>
<script src="https://cdn.fys.cloud/fyscloud/0.0.4/fyscloud.min.js"></script>
<script src="../js/config.mockup.js"></script>
<script src="../js/main.js"></script>
<script src="../js/menu.js"></script>
<script src="../js/chat.js"></script>
<script type="module" src="../js/chat/chat-functionals.js"></script>
<script src="../js/langChanger.js"></script>
<script src="../js/inlog-change.js"></script>
<script src="../js/auth/logout.js"></script>
</body>
</html>
