<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="autoRotate:disabled">

    <title>Vind Reispartners</title>

    <script src="https://cdn.fys.cloud/fyscloud/0.0.4/fyscloud.min.js"></script>
    <script src="../js/config.js"></script>

    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/Matches/matches.css">
    <link rel="stylesheet" href="../css/chat/chat.css">

    <script src="../js/auth/loggedout-href.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/menu.js" defer></script>
    <script src="../js/chat.js"></script>
    <script type="module" src="../js/chat/chat-functionals.js" defer></script>
    <script src="../js/langChanger.js" defer></script>


    <script src="../js/sqlWrapper.js" defer></script>
    <script src="../js/matches/interest.js" defer></script>

    <script src="../js/matches/filters.js" defer></script>
    <script src="../js/matches/toggleFilters.js" defer></script>
    <script src="../js/matches/loadResult.js" defer></script>

    <script src="../js/inlog-change.js" defer></script>
    <script src="../js/auth/logout.js" defer></script>

</head>
<body class="light-theme">
<header class="navbar">
    <div class="logo">
        <a href="../../index.html">
            <img src="../img/corendon-logo.svg" alt="Logo">
        </a>
    </div>
    <nav class="nav-list" id="nav-list">
        <ul>
            <li><a href="../../index.html">Home</a></li>
            <li><a href="./about.html">About</a></li>
            <li><a href="./contact.html">Contact</a></li>
            <li class="matches-link"><a href="./matches.html" class="active">Vind Reispartners</a></li>
            <li class="responsive-log-buttons responsive login-btn"><a href="./auth/login.html">Inloggen</a></li>
            <li class="responsive-log-buttons responsive register-btn"><a href="./auth/register.html">Registreren</a>
            </li>
            <li class="responsive-log-buttons responsive logout-btn"><a href="">Uitloggen</a></li>
            <li>
                <div class="lang-changer-input">
                    <select id="langSelecter" onchange="checklang()">
                        <option value="de">Deutsch</option>
                        <option value="en">English</option>
                        <option value="nl" selected>Nederlands</option>
                    </select>
                </div>
            </li>

            <li class="dropdown-box responsive-log-buttons default">
                <div class="dropdown">
                    <button class="drop-btn">
                        <i class="fa fa-caret-down"></i>
                        <i class="fa fa-caret-up"></i>
                    </button>
                    <div class="dropdown-content" id="dropdown-content">
                        <a href="./auth/login.html" class="login-btn">Inloggen</a>
                        <a href="./auth/register.html" class="register-btn">Registreren</a>
                        <a href="" class="logout-btn">Uitloggen</a>
                    </div>
                </div>
            </li>
        </ul>
    </nav>

    <div class="profile-button">
        <a href="../views/profile.html">
            <img id="header-profile-img" src="../img/default-avatar.png" alt="">
        </a>
    </div>

    <div class="theme-switch-box">
        <div class="switch">
            <div>
                <input type="checkbox" class="checkbox" id="checkbox">
                <label for="checkbox" class="label">
                    <i class="fas fa-sun"></i>
                    <i class="fas fa-moon"></i>
                    <span class="ball"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="burger-menu" id="toggle-btn">
        <div class="menu-line"></div>
        <div class="menu-line"></div>
        <div class="menu-line"></div>
    </div>
</header>


<main>
    <div class="matchesHeader">
        <h2 id="reispartner_h2"> Vind Reispartners</h2>
        <h3 id="reispartner_h3">gebaseerd op uw interesses</h3>
    </div>

    <section class="skills">
        <!-- Eerste rij -->

        <div class="flex-grid">
            <template class="base_card_template">
                <div class="col">
                    <div class="card">
                        <div class="card-img">
                            <div class="personInfo">
                                <img class="personFoto" src="../img/default-avatar.png" alt=""/>
                                <p class="personName"></p>
                                <p class="personGender"></p>
                                <p class="personAge"></p>
                            </div>
                        </div>

                        <div class="footer">
                            <a type="submit" class="show-more-btn" id="showmorebuttonid" href="">Meer zien</a>
                        </div>
                    </div>
                </div>
            </template>
            <div class="col">
                <div class="card-loader">
                    <div class="card-img">
                        <div class="skeleton img-loader"></div>

                        <div class="skelly-main">
                            <div class="skeleton-title-box">
                                <div class="skeleton skelly-title"></div>
                                <div class="skeleton skelly-title"></div>
                            </div>


                            <div class="skeleton-text-box">
                                <div class="skeleton skelly-text"></div>
                                <div class="skeleton skelly-text"></div>
                                <div class="skeleton skelly-text"></div>
                            </div>
                        </div>

                    </div>

                    <div class="footer">
                        <a type="submit" class="show-more-btn skeleton btn-loader" href=""></a>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card-loader">
                    <div class="card-img">
                        <div class="skeleton img-loader"></div>

                        <div class="skelly-main">
                            <div class="skeleton-title-box">
                                <div class="skeleton skelly-title"></div>
                                <div class="skeleton skelly-title"></div>
                            </div>


                            <div class="skeleton-text-box">
                                <div class="skeleton skelly-text"></div>
                                <div class="skeleton skelly-text"></div>
                                <div class="skeleton skelly-text"></div>
                            </div>
                        </div>

                    </div>

                    <div class="footer">
                        <a type="submit" class="show-more-btn skeleton btn-loader" href=""></a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card-loader">
                    <div class="card-img">
                        <div class="skeleton img-loader"></div>

                        <div class="skelly-main">
                            <div class="skeleton-title-box">
                                <div class="skeleton skelly-title"></div>
                                <div class="skeleton skelly-title"></div>
                            </div>


                            <div class="skeleton-text-box">
                                <div class="skeleton skelly-text"></div>
                                <div class="skeleton skelly-text"></div>
                                <div class="skeleton skelly-text"></div>
                            </div>
                        </div>

                    </div>

                    <div class="footer">
                        <a type="submit" class="show-more-btn skeleton btn-loader" href=""></a>
                    </div>
                </div>
            </div>
        </div>

        <!--Filters-->
        <div class="filter">
            <div class="entry-section">
                <div class="textBox">
                    <p class="bannertext" id="bannertext_1_id">Vind jouw </p>

                    <p class="bannertext2" id="bannertext_2_id">Reispartner!</p>
                    <p class="bannertext3" id="bannertext_3_id">Vind jouw match door te zoeken met je eigen gekozen filters.</p>
                    <p class="bannertext3" id="bannertext_4_id"> Wij zetten de beste matches bovenaan.</p>
                </div>


            </div>
            <div class="filter-card">
                <div class="toegepastefiltersText" id="toegepastefilters_id">Toegepaste filter(s):</div>
                <div class="toegepaste-filters">
                </div>
            </div>
        </div>

        <!--Filters onder de banner-->
        <div class="filtermenu">
            <div class="interessesfilter dropdown-filters">
                <button class="dropdown-button" onclick="openFilter(this)">
                    <p>Interesses</p>
                    <img class="pullDown" src="../img/arrow_down.png" alt=" "/>
                </button>
                <div class="dropdown-content-filter">

                </div>

            </div>
            <div class="leeftijdsgroepfilter dropdown-filters">
                <button class="dropdown-button" onclick="openFilter(this)">


                    <p id="ageid">Leeftijdsgroep</p>
                    <img class="pullDown" src="../img/arrow_down.png" alt=" "/>
                </button>
                <div class="dropdown-content-filter">
                    <a href="javascript:void(0)" class="optionAge" onclick="changeFilter(this)">20-30</a>
                    <a href="javascript:void(0)" class="optionAge" onclick="changeFilter(this)">30-50</a>
                    <a href="javascript:void(0)" class="optionAge" onclick="changeFilter(this)">50+</a>
                </div>
            </div>
            <div class="geslachtfilter dropdown-filters">
                <button class="dropdown-button" onclick="openFilter(this)">
                    <p id="genderid">Geslacht</p>
                    <img class="pullDown" src="../img/arrow_down.png" alt=" "/>
                </button>
                <div class="dropdown-content-filter">
                    <a href="javascript:void(0)" class="optionGender" onclick="changeFilter(this)">Man</a>
                    <a href="javascript:void(0)" class="optionGender" onclick="changeFilter(this)">Vrouw</a>
                    <a href="javascript:void(0)" class="optionGender" onclick="changeFilter(this)">Overig</a>
                </div>
            </div>
            <div class="gebruikerzoekenfilter">
                <p id="searchuserid">Gebruiker zoeken</p>
                <input type="text" id="username" name="fname" onkeydown="searchWithData(this, 0)">
                <img class="search" src="../img/search.png" alt=" "/>
            </div>
            <div class="gebruikerzoekenfilter">
                <p id="searchlocationid">Op Locatie zoeken</p>
                <input type="text" id="location" name="lname" onkeydown="searchWithData(this, 1)">
                <img class="search" src="../img/search.png" alt=" "/>
            </div>
            <div class="remove_all_filters">
                <button class="removeButton" onclick="removeAllFilters()"><i class="fas fa-eraser"></i></button>
            </div>
        </div>
        <!-- Tweede rij -->
        <div class="grid-parent">
            <div class="flex-grid">

                <div class="col">
                    <div class="card-loader">
                        <div class="card-img">
                            <div class="skeleton img-loader"></div>

                            <div class="skelly-main">
                                <div class="skeleton-title-box">
                                    <div class="skeleton skelly-title"></div>
                                    <div class="skeleton skelly-title"></div>
                                </div>


                                <div class="skeleton-text-box">
                                    <div class="skeleton skelly-text"></div>
                                    <div class="skeleton skelly-text"></div>
                                    <div class="skeleton skelly-text"></div>
                                </div>
                            </div>

                        </div>

                        <div class="footer">
                            <a type="submit" class="show-more-btn skeleton btn-loader" href=""></a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card-loader">
                        <div class="card-img">
                            <div class="skeleton img-loader"></div>

                            <div class="skelly-main">
                                <div class="skeleton-title-box">
                                    <div class="skeleton skelly-title"></div>
                                    <div class="skeleton skelly-title"></div>
                                </div>


                                <div class="skeleton-text-box">
                                    <div class="skeleton skelly-text"></div>
                                    <div class="skeleton skelly-text"></div>
                                    <div class="skeleton skelly-text"></div>
                                </div>
                            </div>

                        </div>

                        <div class="footer">
                            <a type="submit" class="show-more-btn skeleton btn-loader" href=""></a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card-loader">
                        <div class="card-img">
                            <div class="skeleton img-loader"></div>

                            <div class="skelly-main">
                                <div class="skeleton-title-box">
                                    <div class="skeleton skelly-title"></div>
                                    <div class="skeleton skelly-title"></div>
                                </div>


                                <div class="skeleton-text-box">
                                    <div class="skeleton skelly-text"></div>
                                    <div class="skeleton skelly-text"></div>
                                    <div class="skeleton skelly-text"></div>
                                </div>
                            </div>

                        </div>

                        <div class="footer">
                            <a type="submit" class="show-more-btn skeleton btn-loader" href=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="matches-page-navigation">
            <div class="resultaten" id="resultatenid">xx resultaten gevonden
                <div></div>
            </div>
            <div class="moreTravelers">
                <button class="show-more-btn" id="laadmeerresultaten" onclick="loadMoreCards()">Laad meer resultaten</button>
            </div>
            <div>

            </div>
        </div>
    </section>


    <button id="chat-btn" class="chat-btn"><i class="far fa-comment chat-icon"></i></button>
</main>

<footer>
    <div class="footer-nav">
        <div class="left-footer-nav">
            <nav>
                <a href="../../index.html">Home</a>
                <a href="./about.html">Over Ons</a>
                <a href="./auth/login.html" class="login-btn">Log in</a>
                <a href="" class="logout-btn">Uitloggen</a>
                <a href="./faq.html">FAQ</a>
            </nav>
        </div>
        <div class="right-footer-nav">
            <nav>
                <a href="https://www.youtube.com/user/corendon"><img src="../svg/Youtube.svg" alt=""/></a>
                <a href="https://twitter.com/corendon"><img src="../svg/twitter-black.svg" alt=""/></a>
                <a href="https://vimeo.com/corendonairlines"><img src="../svg/vimeo-black.svg" alt=""/></a>
                <a href="https://www.facebook.com/Corendon.nl/"><img src="../svg/facebook-black.svg" alt=""/></a>
            </nav>
        </div>
    </div>
    <div class="gray-footer-line"></div>
    <div class="footer-text-box">
        <div class="footer-copyright">
            <span>© 2022 Team Quatro. All rights reserved.</span>
        </div>
        <div class="footer-privacy-nav">
            <nav>
                <a href="../pdf/AV_Corendon_NL_20200108.pdf">Terms of service </a>
                <a href="../pdf/Corendon-Privacy-Verklaring-NL.pdf">Privacy Policy</a>
            </nav>
        </div>
    </div>
    <div class="footer-image">
        <img src="../svg/corendon-logo%203.svg" alt=""/>
    </div>
</footer>


</body>
</html>
