<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Profile</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link href="../css/profile/profile.css" rel="stylesheet" />
    <link href="../css/navbar.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/chat/chat.css">
    <script src="https://cdn.fys.cloud/fyscloud/0.0.4/fyscloud.min.js"></script>
    <script src="../js/sqlWrapper.js"></script>
    <script src="../js/interest.js"></script>
    <script src="../js/config.mockup.js"></script>
    <script src="../js/profile/profile.js"></script>
    <script src="../js/menu.js"></script>

</head>

<body class="light-theme">
    <header> </header>
    <main>
        <div class="profile-page-wrapper">

            <div class="basic-info-container">
                <div class="profile-picture-container">
                    <img alt="Profile picture" class="profile-picture" id="profile-picture"
                        src="../img/placeholder-images/profile-picture-placeholder.png">
                </div>

                <div class="basic-info-text-container">
                    <span class="basic-info"><span class="bold">Naam:</span><span id="name">John Doe</span></span>
                    <span class="basic-info"><span class="bold">Leeftijd:</span><span><span id="age">35</span></span>
                        <span class="basic-info"><span class="bold">Location:</span><span
                                id="location">Amsterdam</span></span></span>
                            <div class="change-profile-button-container">
                                <a class="edit-profile-button" href="profile-edit.html" id="edit-profile-button">wijzig profiel</a>
                            </div>
                </div>
            </div>

            <div class="contact-info-container" id="contact-info-container">
                <div class="info-bar match-bar" id="match-info-bar-match">
                    <span class="icon send-message"><i class="fas fa-user-plus"></i></span>
                    <span>Verstuur match verzoek</span>
                </div>

                <div class="info-bar match-bar" id="match-info-bar-cancel">
                    <span class="icon send-message"><i class="fas fa-user-slash"></i></span>
                    <span>Annuleer match verzoek</span>
                </div>

                <div class="info-bar match-bar" id="match-info-bar-unmatch">
                    <span class="icon send-message"><i class="fas fa-user-minus"></i></span>
                    <span>Verwijder als match</span>
                </div>

                <div class="info-bar" id="phonenumber-info-bar">
                    <span class="icon phone-number"><i class="fas fa-phone-alt"></i></span>
                    <span id="phone-number">061234568</span>
                </div>

                <div class="info-bar" id="email-info-bar">
                    <span class="icon email"><i class="far fa-envelope"></i></span>
                    <span id="email">johndoe@mail.com</span>
                </div>
            </div>

            <div class="bio-container">
                <span class="big-container-text">
                    Bio
                </span>
                <p id="bio"></p>
            </div>

            <div class="interests-container">
                <span class="big-container-text">
                    Interesses
                </span>
                <div class="interests-elements-container" id="interests-container">

                </div>
            </div>
        </div>

        <button id="chat-btn" class="chat-btn"><i class="far fa-comment chat-icon"></i></button>
    </main>

    <footer>
        
    </footer>

    
    <script src="../js/html-include.js"></script>
    <!-- Javascript -->
    <script src="../js/html-include.js"></script>
    <script src="../js/menu.js"></script>
    <script src="../js/config.mockup.js"></script>
    <script src="../js/auth/logout.js"></script>
    <script src="../js/inlog-change.js"></script>

    <!-- <script src="../js/chat/chat-functionals.js"></script> -->
    <!-- <script src="../js/main.js"></script>

<script src="../js/chat.js"></script> -->
    <!-- <script type="module" src="../js/chat/chat-functionals.js"></script> -->
</body>

</html>