<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../../img/favicon-32x32.png">
    <link rel="stylesheet" href="../../css/auth/register.css">
    <script type="text/javascript" src="https://cdn.fys.cloud/fyscloud/0.0.4/fyscloud.min.js" defer></script>
    <script type="module" src="../../js/config.js" defer></script>
    <script type="text/javascript" src="../../js/auth/register.js" defer></script>
    <script type="text/javascript" src="../../js/auth/loggedin-href.js" defer></script>
</head>
<body>

<main>
    <div class="rechts-boven">
        <a href="../../../index.html">Home</a>
    </div>
    <div class="login-box">
        <div class="rood-achterkant-box">
            <div class="wit-bovenkant-box">
                <div class="box-content">
                    <div class="box-logo">
                        <img src="../../img/corendon-logo.svg" alt="Box Logo">
                    </div>

                    <div class="form-box">
                        <form autocomplete="off">
                            <div class="email-box">
                                <label>Naam:</label>
                                <input type="text" name="name" id="name" placeholder="John Doe" required autofocus>
                            </div>
                            <div class="email-box">
                                <label>Email:</label>
                                <input type="email" name="email" id="email" placeholder="johndoe@example.com" required>
                            </div>

                            <div class="wachtwoord-box">
                                <label>Wachtwoord:</label>
                                <input type="password" name="password" id="password" placeholder="*******" required>
                            </div>
                            <div class="wachtwoord-box">
                                <label>Herhaal Wachtwoord:</label>
                                <input type="password" name="passwordVerify" id="passwordVerify" placeholder="*******"
                                       required>
                            </div>
                            <div class="form-footer">
                                <!-- Temp inline javascript to redirect in mockup -->
                                <button type="submit" id="submit-btn" class="submit-btn">

                                    Registreer
                                </button>
                            </div>
                        </form>
                        <div class="error-log"><span id="error-message"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer></footer>


</body>
</html>