<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../../img/favicon-32x32.png">
    <link rel="stylesheet" href="../../css/auth/register.css">
</head>
<body>

<main>
    <div class="rechts-boven">
        <a href="../../../index.html">Home</a>
    </div>
    <div class="login-box">
        <div class="rood-achterkant-box">
            <div class="wit-bovenkant-box">
                <div class="box-content">
                    <div class="box-logo">
                        <img src="../../img/corendon-logo.svg" alt="Box Logo">
                    </div>

                    <div class="form-box">
                        <form method="POST" action="" autocomplete="off">
                            <div class="email-box">
                                <label>Naam:</label>
                                <input type="text" name="name" placeholder="Jhon Doe" required autofocus>
                            </div>
                            <div class="email-box">
                                <label>Email:</label>
                                <input type="email" name="email" placeholder="johndoe@example.com" required>
                            </div>

                            <div class="wachtwoord-box">
                                <label>Wachtwoord:</label>
                                <input type="password" name="password" placeholder="*******" required>
                            </div>
                            <div class="wachtwoord-box">
                                <label>Herhaal Wachtwoord:</label>
                                <input type="password" name="passwordVerify" placeholder="*******" required>
                            </div>
                            <div class="form-footer">
                                <!-- Temp inline javascript to redirect in mockup -->
                                <button type="submit" class="submit-btn"
                                        onclick="register()">
                                    Registreer
                                </button>
                            </div>
                        </form>
                        <div class="error-log"><span class="error-message">></span></div>
                    </div>
                </div>
            </div>s
        </div>
    </div>
</main>

<footer></footer>

<script type="module" src="../../js/config.js"></script>
<script type="module" src="../../js/auth/register.js"></script>

</body>
</html>